---
title: "Store"
description: "Buy our beers and merchandise in our store."
blog: store
pageable: false
---
<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      <%= t("pages.store.title") %>
    </h1>
  </div>
</header>
<section class="products wide-row">
  <div class="grid-row">
    <% if config[:use_webshop?] %>
      <% if page_articles.count < 1 %>
        <div class="message">
          <p>
            <%= t("webshop.no_products") %>
          </p>
        </div>
      <% else %>
        <div class="products-grid-wrap">
          <div class="products-grid feed">
            <div class="row">
              <% page_articles.each do |product| %>
                <%= partial "partials/store/product_preview", locals: { product: product } %>
              <% end %>
          </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="webshop-vacation">
        <p>
          <%= t("webshop.vacation") %>
        </p>
      </div>
    <% end %>
  </div>
</section>
