---
title: "Store"
description: "Buy our beers and merchandise in our store."
blog: store
pageable: true
sitemap_priority: 0.8
---
<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      <% if config[:use_webshop?] %>
        <%= t("pages.store.title") %>
      <% else %>
        <%= t("pages.store.coming_soon") %>
      <% end %>
    </h1>
  </div>
</header>
<section class="products wide-row">
  <div class="grid-row">
    <% if config[:use_webshop?] %>
      <% if page_articles.count < 1 %>
        <div class="message">
          <p>
            Sorry, we do not have any products in stock at the moment. Please come back later!
          </p>
        </div>
      <% else %>
        <div class="products-grid-wrap">
          <div class="products-grid feed">
            <div class="row">
              <% page_articles.each do |product| %>
                <%= partial "partials/store/product_preview", locals: { product: product } %>
              <% end %>
          </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="message">
        <p>
          We are almost there! If you want to get notified when the online store goes live, subscribe to our mailing list.
        </p>
        <%= partial "partials/shared/newsletter-subscribe", locals: { button_text: "Notify Me!"} %>
      </div>
    <% end %>
  </div>
</section>
