article.article-preview {
  background: $white;
  margin-bottom: 3em;
  padding: 2em;
  text-align: left;

  .post-header {
    margin-bottom: 0.5em;

    h3 {
      font-size: $base-font-size * 2;
      margin: 0;
      text-align: left;
    }

    a {
      color: $dark-gray;
      text-decoration: none;
    }

    time {
      color: $light-gray;
      font-size: $base-font-size * 0.8;
    }
  }

  p {
    margin-bottom: 1em;
    text-align: left;
  }
}
