article.article-preview {
  background: $white;
  margin-bottom: 4em;
  padding: 2em 1em;
  text-align: left;

  @include grid-media($for-desktop-up) {
    padding: 3em;
  }

  .post-header {
    margin-bottom: 0.5em;

    h2 {
      font-size: $base-font-size * 1.6;
      font-weight: 600;
      margin: 0;
    }

    a {
      color: $dark-gray;
      text-decoration: none;
    }

    time {
      color: $light-gray;
      font-size: $base-font-size * 0.8;
    }
  }

  p {
    margin-bottom: 0;
    padding: 1em 0;
  }
}
