body.blog-article {
  article {
    div.article-banner {
      background: transparent;
      padding-top: 8rem;
      text-align: center;

      h1 {
        color: $white;
        font-size: $base-font-size * 3;
      }

      time {
        color: $white;
      }

      .grid-row {
        max-width: $smallest-row;
        padding: 4em 1em;
      }
    }

    div.article-content {
      background: $white;

      .grid-row {
        max-width: $smallest-row;
      }
    }
  }
}
