body.blog-article {
  article {
    div.article-banner {
      background: transparent;
      background-attachment: scroll;
      background-size: cover;
      text-align: center;

      h1 {
        color: $white;
        font-size: $base-font-size * 2;
        font-weight: 600;

        @include grid-media($for-desktop-up) {
          font-size: $base-font-size * 2.4;
        }
      }

      time {
        color: $white;
      }

      .grid-row {
        padding: 4em 1em;
      }
    }

    div.article-content {
      background: $white;

      img {
        display: block;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
      }

      h2 {
        font-size: 3rem;
      }
    }
  }
}
