<div class="beer-wrap excerpt-box-wrap col-sm-6 col-md-4">
  <% link_to beer.url, class: "beer excerpt-box background-#{beer.data.background}" do %>
    <div class="image-wrap">
      <div class="image-wrap-content content">
        <div class="image-wrap-content-inner">
          <h4 class="excerpt-box-title">
            <%= beer.title %>
          </h4>
          <div class="meta">
            <%= beer.data.style %>
          </div>
        </div>
      </div>
      <%= image_tag beer.data.image, alt: beer.title, class: "image" %>
    </div>
    <div class="content content-alignment--center">
      <div class="meta"></div>
    </div>
  <% end %>
</div>
