@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Open Sans Light'),
         url('../fonts/open-sans-v27-latin-300.woff2') format('woff2'),
         url('../fonts/open-sans-v27-latin-300.woff') format('woff');
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'),
         url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'),
         url('../fonts/open-sans-v27-latin-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Open Sans Medium'),
         url('../fonts/open-sans-v27-latin-500.woff2') format('woff2'),
         url('../fonts/open-sans-v27-latin-500.woff') format('woff');
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'),
         url('../fonts/open-sans-v27-latin-700.woff2') format('woff2'),
         url('../fonts/open-sans-v27-latin-700.woff') format('woff');
  }
}

// Navigation Current Link
[aria-current]:not([aria-current="false"]) {
  @apply text-gray-300;
}

// Special transparent header at the top of certain pages
.transparent-header.at-the-top {
  .site-header {
    @apply bg-transparent;
  }

  .logo {
    @apply opacity-0 sm:opacity-100;
  }
}

// Mobile navigation open
.mobile-navigation-open {
  .button-show-nav {
    @apply hidden;
  }

  .button-hide-nav {
    @apply block;
  }

  .mobile-navigation {
    @apply block opacity-100 transition-opacity sm:hidden;
  }
}

// Product thumbnail active
.thumbnail-active {
  @apply bg-black;

  img {
    @apply opacity-70;
  }
}

// Product info toggle active
.toggle.active {
  svg {
    transform: rotate(180deg);
  }
}

// Hide native number controls on Firefox
[type="number"] {
  -moz-appearance: textfield;
}
