#snipcart {
  // Global
  --base-font-family: "Open Sans", sans-serif;
  --green: #54b848;
  --light-green: #65bf5a;
  --very-light-green: #e5f4e0;
  --text-color: #3f3f46;

  // Colors
  --color-icon: var(--green);
  --color-link: var(--green);
  --color-link-hover: var(--light-green);
  --color-input-checked: white;
  --color-badge: var(--color-link);
  --color-badge-active: white;
  --color-badge-disabled: var(--color-link);
  --color-buttonSecondary: var(--color-link);
  --color-buttonSecondary-hover: var(--color-link);
  --color-buttonSecondary-active: var(--color-link);

  // Borders
  --borderColor-input-hover: var(--green);
  --borderColor-input-focus: var(--borderColor-input-hover);
  --borderColor-input-checked: var(--borderColor-input-hover);

  // Backgrounds
  --bgColor-info: #efefef;
  --bgColor-link: none;
  --bgColor-link-hover: none;
  --bgColor-link-active: none;
  --bgColor-input-checked: var(--green);
  --bgColor-buttonPrimary: var(--green);

  --bgColor-buttonPrimary-hover: var(--light-green);
  --bgColor-buttonPrimary-active: var(--light-green);
  --bgColor-buttonPrimary-focus: var(--light-green);
  --bgColor-buttonPrimary-disabled: var(--light-green);

  --bgColor-buttonSecondary: var(--bgColor-info);
  --bgColor-buttonSecondary-hover: var(--bgColor-info);
  --bgColor-buttonSecondary-active: var(--bgColor-info);
  --bgColor-buttonSecondary-focus: var(--bgColor-buttonSecondary);
  --bgColor-buttonSecondary-success: var(--bgColor-success);
  --bgColor-buttonSecondary-error: var(--bgColor-error);

  --bgColor-buttonDanger: var(--bgColor-error);
  --bgColor-buttonDanger-hover: var(--bgColor-buttonDanger);
  --bgColor-buttonDanger-active: var(--bgColor-buttonDanger);
  --bgColor-buttonDanger-focus: var(--bgColor-buttonDanger);
  --bgColor-buttonDanger-disabled: var(--bgColor-buttonDanger);
  --bgColor-buttonDanger-success: var(--bgColor-buttonDanger);
  --bgColor-buttonDanger-error: var(--bgColor-buttonDanger);

  --bgColor-badge: #fff;
  --bgColor-badge-active: var(--green);
  --bgColor-input-autofill: var(--very-light-green);

  // Shadows
  --shadow-default: none;
  --shadow-tooltip: var(--shadow-default);
  --shadow-link-focus: var(--shadow-default);
  --shadow-input-hover: var(--shadow-default);
  --shadow-input-focus: var(--shadow-default);
  --shadow-input-checked: var(--shadow-default);
  --shadow-buttonPrimary-hover: var(--shadow-default);
  --shadow-buttonPrimary-active: var(--shadow-default);
  --shadow-buttonPrimary-focus: var(--shadow-default);
  --shadow-buttonSecondary-hover: var(--shadow-default);
  --shadow-buttonSecondary-active: var(--shadow-default);
  --shadow-buttonSecondary-focus: var(--shadow-default);
  --shadow-buttonDanger-hover: var(--shadow-default);
  --shadow-buttonDanger-active: var(--shadow-default);
  --shadow-buttonDanger-focus: var(--shadow-default);

  .snipcart__font--secondary,
  .snipcart__font--subtitle,
  .snipcart__font--std,
  .snipcart-base-button__label {
    font-family: var(--base-font-family), sans-serif;
  }

  .snipcart-featured-payment-methods__list {
    display: none;
  }

  .snipcart-form__select-wrapper:focus-within .snipcart__icon {
    color: var(--green) !important;
  }

  .snipcart-summary-fees__tax-notice path {
    fill: var(--green);
  }

  .snipcart-summary-fees__discounts-icon .snipcart__icon path {
    fill: var(--green);
  }

  .snipcart-flash-message__action-container {
    margin-top: 0;
  }

  .snipcart__font--tiny {
    font-size: 15px;
    font-weight: normal;
  }

  .comment-box {
    height: auto;
  }

  .snipcart-summary-fees__notice {
    margin-bottom: 24px;
  }

  .terms-text {
    line-height: 1.25;
  }

  .terms-link {
    color: var(--green);
    display: inline-block;
  }

  [multiple]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="email"]:focus,
  [type="month"]:focus,
  [type="number"]:focus,
  [type="password"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="text"]:focus,
  [type="time"]:focus,
  [type="url"]:focus,
  [type="week"]:focus,
  select:focus,
  textarea:focus {
    --tw-ring-color: var(--green);
  }

  .snipcart-base-button__label {
    font-size: 15px;
    font-weight: bold;
  }

  .snipcart-discount-box .snipcart-input {
    padding-right: 0;
  }

  .snipcart-item-line__media--small {
    margin-right: 10px;
  }

  .snipcart__font--bold {
    font-weight: 700;
  }

  .snipcart-empty-cart {
    .snipcart-empty-cart__title {
      color: var(--text-color);
    }

    .snipcart-button-secondary {
      background-color: var(--green);
      color: white;
    }
  }
}
