$base-font-family: "Open Sans";
$heading-font-family: "Open Sans";
$green: #54b848;
$dark-green: #43933a;
$light-green: #65bf5a;
$black: #000;
$white: #fff;
$dark-gray: #303030;
$light-gray: #aaa;
$base-font-color: $dark-gray;
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;


.snipcart-modal__container {
  left: initial;
  right: 0;
  width: 100%;
}

@media only screen and (min-width: 820px) {
  .snipcart-modal__container {
    width: 85%;
  }
}

.snipcart {
  position: absolute;
  z-index: 2000;

  button:hover,
  [type="button"]:hover,
  [type="reset"]:hover,
  [type="submit"]:hover,
  .button:hover {
    background-color: transparent;
    border-color: transparent;

    &.snipcart-cart-button--highlight {
      background-color: $light-green;
    }

    &.snipcart-discount-box__button {
      border-color: $dark-gray;
    }

    &.snipcart-payment-methods-list-item__button {
      border-color: $dark-gray;
    }
  }

  .snipcart-empty-cart {
    button {
      background-color: $green;
      color: $white;

      svg path {
        fill: $white;
      }

      &:hover {
        background-color: $light-green;
      }
    }
  }
}

.snipcart__icon--blue-light path,
.snipcart__icon--blue-dark path {
  fill: $green;
}

.snipcart__font--secondary,
.snipcart__font--subtitle,
.snipcart__font--std {
  font-family: $base-font-family, sans-serif;
}

.snipcart-cart-button--highlight {
  align-items: center;
  background-color: $green;
  background-image: inherit;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  height: 3em;
  justify-content: center;
  margin-top: 2em;
  padding: 0;

  &:hover {
    background-color: $light-green;
  }
}

.snipcart__actions--link {
  color: $green;
  font-family: $base-font-family, sans-serif;
}

.snipcart__box--badge-highlight {
  background: linear-gradient(90deg, $dark-green, $green);
}

.snipcart-order__invoice-number--highlight {
  color: $dark-gray;
}

.snipcart-item-description,
.snipcart__font--bold,
.snipcart__font--tiny,
.snipcart__font--regular,
.snipcart-modal__close-title {
  line-height: 1.4;
}

.snipcart__font--slim {
  line-height: 1.4;
}

.snipcart-input:focus-within {
  border: 1px solid $green;
  box-shadow: none;
}

.snipcart-input--no-style:focus-within {
  border: 0;
  box-shadow: none;
}

.snipcart-form__select:focus {
  border: 1px solid $green;
  box-shadow: none;
}

.snipcart-discount-box__form {
  border: 1px solid $green;
}

.snipcart-discount-box__submit {
  color: $green;
}

.snipcart-flash-message__action-container {
  margin-top: 0;
}

.snipcart-error-message {
  color: red;
}

.snipcart-flash-message--error {
  background-color: rgba(217, 49, 32, 0.10);
}

.snipcart-typeahead__suggestions,
.snipcart-typeahead__suggestion--active {
  border-color: $green;
}

.snipcart-textbox--focus {
  border: 1px solid $green;
  box-shadow: none;
}

.snipcart-form-radio:checked + label::before {
  background: none;
  background-color: $green;
}

.snipcart-checkbox:checked + label::before {
  background: $green;
  box-shadow: none;
}

.snipcart-checkbox:hover + label::before {
  border: 1px solid $green;
}


.snipcart-cart-summary-fees__discounts-icon {
  .snipcart__icon path {
    fill: $green;
  }
}

.snipcart-signin__box,
.snipcart-register__box {
  a {
    color: $green;
  }
}

.snipcart-item-line {
  box-shadow: none;
}

.snipcart-featured-payment-methods__list {
  display: none;
}

.snipcart-form__select,
.snipcart-item-quantity__quantity,
.snipcart-input,
.snipcart-shipping-rates-list-item {
  border: $base-border;
}

.snipcart-shipping-rates-list-item--highlight {
  border: 1px solid $green;
}

button.snipcart-payment-methods-list-item__button {
  align-items: center;
  background-color: $white;
  border: $base-border;
  color: $base-font-color;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  height: 3em;
  justify-content: center;
  padding: 0;
}

.snipcart-form__cell--tidy {
  margin-right: 16px;
  width: 50%;
}

