body.beers {
  section.beers {
    .grid-row {
      margin-left: auto;
      margin-right: auto;
      padding: 0 1em 1em;
      width: 100%;

      @include grid-media($for-desktop-up) {
        padding: 0 2em 2em;
      }
    }

    .feed {
      padding-left: 0;
      padding-right: 0;
      position: relative;

      .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -2rem;
        margin-right: -2rem;
      }

      .excerpt-box-wrap {
        display: flex;
        margin-bottom: 4rem;
      }

      .col-md-4 {
        min-height: 1px;
        padding-left: 2rem;
        padding-right: 2rem;
        position: relative;
        width: 100%;

        @include grid-media($small-screens-up) {
          flex: 0 0 33.33333333333%;
          max-width: 33.33333333333%;
        }
      }

      .excerpt-box {
        display: block;
        outline: none;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        width: 100%;

        &.background-light {
          background: $lightest-gray;
        }

        &.background-dark {
          background: $dark-gray;
        }
      }

      .image-wrap {
        overflow: hidden;
        position: relative;

        .image {
          width: 100%;
        }

        &:hover {
          &::before {
            opacity: 1;
          }

          .image-wrap-content-inner {
            opacity: 1;
          }
        }

        &::after {
          background: none;
          bottom: 0;
          content: "";
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          z-index: 2;
        }

        &::before {
          background-color: $black;
          bottom: 0;
          content: "";
          display: block;
          height: 100%;
          left: 0;
          opacity: 0;
          position: absolute;
          right: 0;
          top: 0;
          transition: all 0.2s ease-in-out;
          width: 100%;
          z-index: 1;
        }

        .image-wrap-content {
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          z-index: 1;
        }

        .image-wrap-content-inner {
          margin: 0;
          opacity: 0;
          padding: 2rem;
          transition: all 0.2s ease-in-out;
        }

        .excerpt-box-title {
          color: $white;
          font-size: 3rem;
          line-height: 1.25;
          margin: 1.2rem 0 0.8rem;
        }

        .meta {
          align-items: center;
          color: $green;
          display: flex;
          justify-content: center;
          line-height: 1;
          margin: 0;
        }
      }
    }
  }
}
