.beer-show {
  .beer-item {
    height: 100%;
    padding: 0;

    @include grid-media($for-desktop-up) {
      display: flex;
      padding: 4em 1em 0;
    }
  }

  .beer-image {
    display: flex;

    @include grid-media($for-desktop-up) {
      flex: 0 0 50%;
    }
  }

  .background-dark {
    background: $dark-gray;
  }

  .background-light {
    background: $lightest-gray;
  }

  .image-wrap {
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
  }

  .image {
    display: block;
    height: auto;
    max-width: 819px;
    width: 100%;
  }

  .beer-text {
    align-items: center;
    background: $white;
    display: flex;
    flex: 0 0 50%;
    padding: 2em 1em;

    @include grid-media($for-desktop-up) {
      padding: 2em;
    }

    .icon-untappd {
      font-size: $base-font-size * 1.1;
    }
  }

  .beer-title {
    font-size: $base-font-size * 1.6;
    font-weight: 600;
    margin-bottom: .25em;

    @include grid-media($for-desktop-up) {
      font-size: $base-font-size * 2;
    }
  }

  .beer-description {
    margin-bottom: 2em;
  }

  .beer-facts {
    border-color: $light-gray;
    border-style: dotted;
    border-width: .2rem 0 0 .2rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    width: 100%;
  }

  .beer-fact {
    align-content: flex-end;
    align-items: flex-end;
    border-color: $light-gray;
    border-style: dotted;
    border-width: 0 .2rem .2rem 0;
    display: flex;
    flex: 1 100%;
    flex-wrap: wrap;
    font-weight: $font-weight-bold;
    padding: 1em;

    @include grid-media($for-desktop-up) {
      flex: 1 33.3333333333%;
    }
  }

  .beer-fact-value {
    font-size: .9em;
    width: 100%;
  }

  .beer-fact-abv {
    font-size: 1.5em;
  }

  .beer-fact-label {
    color: $light-gray;
    font-size: .7em;
    width: 100%;
  }

  .back-link {
    text-align: center;
  }
}
