body.beers {
  &.beer-show {
    .grid-row {
      &.beer-item {
        height: 100%;
        padding: 0;

        @include grid-media($for-desktop-up) {
          display: flex;
          padding: 4em 1em 0;
        }
      }

      &.back-link {
        text-align: center;
      }

      .beer-image {
        display: flex;

        @include grid-media($for-desktop-up) {
          flex: 0 0 50%;
        }

        &.background-dark {
          background: $dark-gray;
        }

        &.background-light {
          background: $lightest-gray;
        }

        .image-wrap {
          align-items: center;
          display: flex;
          overflow: hidden;
          position: relative;

          .image {
            max-width: 819px;
          }

          img {
            display: block;
            height: auto;
            width: 100%;
          }
        }
      }

      .beer-text {
        align-items: center;
        background: $white;
        display: flex;
        flex: 0 0 50%;
        padding: 2em 1em;

        @include grid-media($for-desktop-up) {
          padding: 2em;
        }

        h1 {
          font-size: $base-font-size * 1.6;
          font-weight: 600;
          margin-bottom: 0.25em;

          @include grid-media($for-desktop-up) {
            font-size: $base-font-size * 2;
          }
        }

        .description {
          margin-bottom: 2em;
        }

        h4 {
          font-size: $base-font-size * 1.4;
        }

        .beer-facts {
          border-color: $light-gray;
          border-style: dotted;
          border-width: 0;
          border-left-width: 0.2rem;
          border-top-width: 0.2rem;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 2em;
          width: 100%;
        }

        .beer-fact {
          align-content: flex-end;
          align-items: flex-end;
          border-color: $light-gray;
          border-style: dotted;
          border-width: 0;
          border-right-width: 0.2rem;
          border-bottom-width: 0.2rem;
          display: flex;
          font-weight: bold;
          flex: 1 100%;
          flex-wrap: wrap;
          padding: 1em;
          text-transform: uppercase;

          @include grid-media($for-desktop-up) {
            flex: 1 33.3333333333%;
          }

          span {
            display: block;
            width: 100%;
          }

          .beer-fact-value {
            font-size: 0.9em;
          }

          .beer-fact-abv {
            font-size: 1.5em;
          }

          .beer-fact-label {
            color: $light-gray;
            font-size: 0.7em;
          }
        }

        .icon-untappd {
          background: $green;
          border-radius: $base-border-radius;
          color: $white;
          font-size: $base-font-size * 1.1;
          padding: 0.5em;
          text-decoration: none;
          transition: background-color 0.2s ease;

          &:hover {
            background: lighten($green, 5%);
          }
        }
      }
    }
  }
}
