body.over-ons {
  .about-us {
    @include grid-media($for-desktop-up) {
      padding: 0 1em;
    }

    .grid-row {
      background: $white;
      margin-bottom: 4em;
      padding: 4em 2em;

      .row {
        margin: 0 auto;
        max-width: $smallest-row;

        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
