body.contact {
  .contact-form {
    @include grid-media($for-desktop-up) {
      padding: 0 1em;
    }

    .grid-row {
      background: $white;
      margin-bottom: 2em;
      padding: 2em;
    }
  }
}
