body.contact {
  .contact-form {
    .grid-row {
      background: $white;
      margin-bottom: 4em;
      padding: 4em 2em;

      .row {
        margin: 0 auto;
        max-width: $smallest-row;
      }

      p {
        margin-bottom: $small-spacing * 3;
      }
    }
  }
}
