body.events {
  .events {
    .grid-row {
      background: $white;

      @include grid-media($for-desktop-up) {
        margin-bottom: 4em;
        padding: 4em 2em;
      }

      .row {
        margin: 0 auto;
        max-width: $small-row;
      }
    }
  }
}
