section.introduction {
  background: $white;

  @include grid-media($for-desktop-up) {
    $background-image: "../images/hop-background.svg";

    background-color: $white;
    background-image: url($background-image);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 360px auto;
  }

  h1 {
    font-size: $base-font-size * 2;
  }

  .grid-row {
    padding: 2em 1em;
    text-align: left;

    @include grid-media($for-desktop-up) {
      padding: 8em 3em;
    }
  }

  .row {
    max-width: $small-row;
  }

  p {
    margin-bottom: 1em;
  }
}
