body.index {
  .introduction {
    background: $white;

    h2 {
      font-size: $base-font-size * 1.4;

      @include grid-media($for-desktop-up) {
        font-size: $base-font-size * 2;
      }
    }

    .grid-row {
      padding: 2em 1em;
      text-align: left;

      @include grid-media($for-desktop-up) {
        padding: 8em 3em;
      }
    }

    .row {
      margin: 0 auto;
      max-width: $small-row;
    }

    p {
      margin-bottom: 2em;
    }
  }

  .products {
    background: $lightest-gray;

    .products-row {
      padding: 2em 1em;
    }
  }
}
