body.thanks {
  .hero {
    .grid-row {
      color: $white;
      flex-direction: column;
      max-width: $small-row;
      text-align: center;
    }

    h1 {
      font-size: $base-font-size * 2;

      @include grid-media($for-desktop-up) {
        font-size: $base-font-size * 2.4;
      }
    }
  }
}
