.header {
  max-height: $nav-height;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: -100px;
  transition: all 0.3s;
  width: 100%;
  z-index: 999;

  a {
    text-decoration: none;
    text-transform: uppercase;

    &.logo {
      &:active,
      &:focus,
      &:hover {
        color: $dark-gray;
      }
    }
  }
}

.open-nav {
  max-height: 400px;

  .mobile-toggle span {
    background-color: transparent;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.sticky {
  background-color: rgba($white, 0.93);
  border-bottom: 1px solid $light-gray;
  opacity: 1;
  top: 0;
}

.logo {
  color: $dark-gray;
  display: inline-block;
  float: none;
  font-family: 'Orbitron', sans-serif;
  font-size: $base-font-size * 1.6;
  font-weight: 700;
  line-height: $nav-height;

  @include media($menu-desktop) {
    float: left;
    font-size: $base-font-size * 1.6;
  }
}

nav {
  width: 100%;

  @include media($menu-desktop) {
    float: right;
    width: 65%;
  }

  ul {
    float: left;
    list-style: none;
    margin-bottom: 22px;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
    width: 100%;

    @include media($menu-desktop) {
      float: right;
      margin-bottom: 0;
      padding-top: 0;
      text-align: right;
      width: auto;
    }
  }

  li {
    display: inline-block;
    line-height: 1.5;
    margin: 0;
    width: 100%;

    @include media($menu-desktop) {
      padding: 0;
      width: auto;
    }
  }

  a {
    color: $dark-gray;
    display: block;
    font-size: $base-font-size;
    font-weight: 500;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s ease;

    @include media($menu-desktop) {
      line-height: $nav-height;
      margin-right: -4px;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      background: $green;
      color: $white;
    }
  }
}

.mobile-toggle {
  cursor: pointer;
  display: block;
  font-size: $base-font-size * 2;
  height: $nav-height;
  position: absolute;
  right: 22px;
  top: 0;
  transition: all 200ms ease-in;
  width: 30px;

  @include media($menu-desktop) {
    display: none;
  }

  span {
    background-color: $dark-gray;
    bottom: auto;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: background-color 0.3s ease;
    width: 26px;

    &::after,
    &::before {
      background-color: $dark-gray;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      transition: 0.3s;
      width: 26px;
    }

    &::after {
      transform: translateY(9px);
    }

    &::before {
      transform: translateY(-9px);
    }
  }
}
