<div class="prose pt-2">
  <ul>
    <li>We generally ship in 3 to 5 business days</li>
    <li>We ship to The Netherlands, Austria, Belgium, Denmark, France, Germany &amp; Luxembourg</li>
    <li>Shipping costs:
      <ul>
        <li>Netherlands: €5,99, free shipping from €75,-</li>
        <li>Austria, Belgium, Denmark, France, Germany, Luxembourg: €8,99, free shipping from €100,-</li>
      </ul>
    </li>
    <li>Secure payment options: iDeal, Credit Card and PayPal.</li>
  </ul>
</div>
