.shipping-conditions {
  font-size: $base-font-size * 0.7;
  margin: 0;

  ul {
    margin-bottom: 0;
  }
}

.old-price {
  span {
    position: relative;

    &::before {
      background: $dark-gray;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      margin: -0.5px 0 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: rotate(-12deg);
    }
  }
}

.webshop-newsletter {
  background: $lightest-gray;
  border: 1px solid $light-gray;
  padding: 1.2em;
  width: 100%;
}

section.products {
  .grid-row {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 100%;

    @include grid-media($for-desktop-up) {
      padding: 2em 1em 4em;
    }

    h2.products-header {
      font-size: $base-font-size * 1.6;
      margin-bottom: 0.5em;
      text-align: center;

      @include grid-media($for-desktop-up) {
        font-size: $base-font-size * 2;
        margin-bottom: 1em;
      }
    }
  }

  .products-row {
    padding: 2em 1em;
  }

  .message {
    margin: 0 auto;
    max-width: 740px;
    text-align: center;
  }

  .feed {
    padding-left: 0;
    padding-right: 0;
    position: relative;

    .row {
      @include grid-media($for-small-screens-up) {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
      }

      @include grid-media($for-desktop-up) {
        grid-gap: 4rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  a.product {
    background: $white;
    display: flex;
    margin-bottom: 2rem;
    min-height: 1px;
    padding: 2rem;
    position: relative;
    text-decoration: none;
    transition: box-shadow 400ms ease-in-out;
    width: 100%;

    @include grid-media($for-small-screens-up) {
      margin-bottom: 0;
    }
  }

  .product-box {
    display: block;
    outline: none;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  .snipcart-add-item {
    display: none;
  }

  .product-media {
    overflow: hidden;
    position: relative;

    &:hover {
      .product-image-overlay {
        opacity: 0.95;
        transform: scale(1.05);
      }
    }
  }

  .product-image {
    display: block;
  }

  .product-image-overlay {
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
  }

  .product-content {
    display: flex;
    margin-top: 0.5em;

    .title {
      flex-grow: 1;
      margin-right: 0.5em;

      h2 {
        color: $base-font-color;
        font-size: $base-font-size;
        font-weight: $font-weight-bold;
        line-height: 1.5;
        margin: 0;
      }
    }

    p {
      margin: 0;
    }

    .product-price {
      display: flex;

      div {
        white-space: nowrap;
      }

      .old-price {
        color: $dark-gray;
        margin-right: 0.5em;
      }

      .price {
        color: $green;
        font-weight: $font-weight-bold;
      }
    }

    .out-of-stock {
      color: $light-gray;
    }
  }

  .all-products {
    padding: 0 1em 2em;
    text-align: center;
  }
}
