.product-controls {
  max-width: 100%;

  @include grid-media($for-desktop-up) {
    margin-bottom: $base-spacing;
  }

  .quantity-and-cart {
    margin-bottom: $base-spacing;

    @include grid-media($for-small-screens-up) {
      display: flex;
      flex-direction: row;
    }
  }

  .add-to-cart {
    align-items: flex-end;
    display: flex;
    height: auto;
  }

  .buy-button {
    line-height: 1.4;
    padding: 0.8em;
    width: 100%;

    @include grid-media($for-small-screens-up) {
      width: auto;
    }
  }

  .sizes,
  .product-quantity {
    margin-bottom: $base-spacing;
  }

  .product-quantity {
    @include grid-media($for-small-screens-up) {
      margin-bottom: 0;
    }

    input {
      margin-right: $small-spacing;
      width: 100%;

      @include grid-media($for-small-screens-up) {
        width: 140px;
      }
    }
  }

  .sizes {
    .select {
      width: 100%;

      @include grid-media($for-small-screens-up) {
        width: 140px;
      }
    }
  }

  label {
    display: block;
    font-size: $base-font-size * 0.8;
    margin-bottom: $small-spacing;
  }

  input,
  select,
  textarea {
    display: block;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 1.5;
    padding: $base-spacing * 0.8;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  #{$all-text-inputs} {
    appearance: none;
    border: $base-border;
    box-sizing: border-box;
    padding: $base-spacing * 0.8;
    transition: border-color $base-duration $base-timing;
    width: 100%;

    &:hover {
      border-color: shade($base-border-color, 20%);
    }

    &:focus {
      border-color: $action-color;
      outline: none;
    }

    &:disabled {
      background-color: shade($_form-background-color, 5%);
      cursor: not-allowed;

      &:hover {
        border: $base-border;
      }
    }
  }

  select {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: $base-border;
    color: $base-font-color;
    cursor: pointer;
    flex: 1;
    outline: 0;
    width: 100%;

    &:focus {
      border-color: $action-color;
      outline: none;
    }
  }

  .select {
    display: flex;
    overflow: hidden;
    position: relative;

    &::after {
      align-items: center;
      background: transparent;
      bottom: 0;
      color: $dark-gray;
      content: "<>";
      cursor: pointer;
      display: flex;
      font-size: 14px;
      line-height: 1;
      pointer-events: none;
      position: absolute;
      right: 8px;
      top: 0;
      transform: rotate(90deg);
      transition: 0.25s all ease;
    }
  }
}

.shipping-conditions {
  font-size: $base-font-size * 0.7;
  margin: 0;

  ul {
    margin-bottom: 0;
  }
}

.old-price {
  span {
    position: relative;

    &::before {
      background: $dark-gray;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      margin: -0.5px 0 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: rotate(-12deg);
    }
  }
}

section.products {
  .grid-row {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 100%;

    @include grid-media($for-desktop-up) {
      padding: 2em 1em 4em;
    }

    h2.products-header {
      font-size: $base-font-size * 2;
      margin-bottom: 1em;
      text-align: center;
    }
  }

  .message {
    margin: 0 auto;
    max-width: 740px;
    text-align: center;
  }

  .feed {
    padding-left: 0;
    padding-right: 0;
    position: relative;

    .row {
      @include grid-media($for-small-screens-up) {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
      }

      @include grid-media($for-desktop-up) {
        grid-gap: 4rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  a.product {
    background: $white;
    display: flex;
    margin-bottom: 2rem;
    min-height: 1px;
    padding: 2rem;
    position: relative;
    text-decoration: none;
    transition: box-shadow 400ms ease-in-out;
    width: 100%;

    @include grid-media($for-small-screens-up) {
      margin-bottom: 0;
    }
  }

  .product-box {
    display: block;
    outline: none;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  .snipcart-add-item {
    display: none;
  }

  .product-media {
    overflow: hidden;
    position: relative;

    &:hover {
      .product-image-overlay {
        opacity: 0.95;
        transform: scale(1.05);
      }
    }
  }

  .product-image {
    display: block;
  }

  .product-image-overlay {
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out;
  }

  .product-content {
    display: flex;
    margin-top: 0.5em;

    .title {
      flex-grow: 1;
      margin-right: 0.5em;

      h2 {
        color: $base-font-color;
        font-size: $base-font-size;
        font-weight: $font-weight-bold;
        line-height: 1.5;
        margin: 0;
      }
    }

    p {
      margin: 0;
    }

    .product-price {
      display: flex;

      div {
        white-space: nowrap;
      }

      .old-price {
        color: $dark-gray;
        margin-right: 0.5em;
      }

      .price {
        color: $green;
        font-weight: $font-weight-bold;
      }
    }

    .out-of-stock {
      color: $light-gray;
    }
  }
}
