body.store_index {
  background: $lightest-gray;

  .normal-page-header {
    h1 {
      color: $black;
    }
  }

  section.products {
    .grid-row {
      padding: 0 1em 1em;

      @include grid-media($for-desktop-up) {
        padding: 0 2em 4em;
      }
    }
  }
}



