body.store {
  &.product-detail {
    background: $white;

    h1 {
      color: $black;
    }

    .grid-row {
      &.product-item {
        height: 100%;
        padding: 0 1em;

        @include grid-media($for-desktop-up) {
          display: flex;
        }
      }

      &.back-link {
        padding: 1em;
        text-align: center;

        @include grid-media($for-desktop-up) {
          padding: 2em 1em;
        }
      }

      .product-figure {
        align-items: center;
        display: flex;

        max-height: 800px;
        max-width: 800px;
        position: relative;

        picture {
          display: block;
          height: 100%;
          width: 100%;
        }

        .thumbnails {
          bottom: -24px;
          display: flex;
          justify-content: center;
          max-width: 450px;
          position: absolute;
          right: auto;
          width: 100%;
          z-index: 1;

          @include grid-media($for-small-screens-up) {
            bottom: 0;
            justify-content: flex-end;
            margin: 1em;
            right: 0;
          }
        }

        button {
          appearance: none;
          background: none;
          border: 0;
          border-radius: 8px;
          box-shadow: 0 2px 8px rgba($black, 0.1);
          cursor: pointer;
          height: 48px;
          margin-left: 8px;
          overflow: hidden;
          padding: 0;
          transition: 0.3s cubic-bezier(0.16, 1, 0.3, 1);
          transition-property: box-shadow,background-color;
          width: 48px;

          @include grid-media($for-small-screens-up) {
            height: 72px;
            width: 72px;
          }

          @include grid-media($for-desktop-up) {
            height: 96px;
            width: 96px;
          }

          &:hover {
            box-shadow: 0 0 4px 2px $green;
          }

          &.active {
            background: $black;
            transition-duration: 0.1s;

            img {
              opacity: 0.5;
              transition-duration: 0.1s;
            }
          }
        }

        img {
          height: 100%;
          object-fit: cover;
          object-position: top;
          transition: opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
          width: 100%;
        }
      }

      .product-image {
        display: block;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        position: relative;
        width: auto;
        z-index: 1;
      }

      .product-content {
        background: $white;
        display: flex;
        flex: 0 0 50%;
        flex-direction: column;
        // justify-content: center;
        padding: 2em 1em 0;

        @include grid-media($for-desktop-up) {
          padding: 1em 2em;
        }

        h2 {
          font-size: $base-font-size * 1.6;
          font-weight: 600;
          margin-bottom: 0.25em;

          @include grid-media($for-desktop-up) {
            font-size: $base-font-size * 2;
          }
        }

        .product-price {
          display: flex;
          flex-direction: column;
        }

        .old-price {
          font-size: $base-font-size;
          margin-bottom: 0;
        }

        .price {
          color: $green;
          display: block;
          font-size: $base-font-size * 1.5;
          font-weight: $font-weight-bold;
          margin-bottom: 0;
        }

        .vat {
          font-size: $base-font-size * 0.8;
          font-style: italic;
        }
      }
    }
  }

  .Hide {
    display: none;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    caption {
      font-size: 1.5em;
      margin: 0.5em 0 0.75em;
    }

    th,
    td {
      padding: 0.5em;
    }

    td {
      font-size: $base-font-size * 0.7;
    }

    tr {
      border: 1px solid #ddd;
    }

    th {
      font-size: $base-font-size * 0.7;
    }
  }

  @include grid-media($for-mobile) {
    table {
      border: 0;

      caption {
        font-size: 1.3em;
      }

      thead {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }

      td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: $base-font-size * 0.7;
        text-align: right;

        &::before {
          //
          // aria-label has no advantage, it won't be read inside a table
          // content: attr(aria-label);
          //
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}




