body.store {
  &.product-detail {
    background: $white;

    h1 {
      color: $black;
    }

    .grid-row {
      &.product-item {
        height: 100%;
        padding-top: 0;

        @include grid-media($for-desktop-up) {
          display: flex;
        }

        .product-figure {
          position: relative;

          @include grid-media($for-desktop-up) {
            align-items: center;
            align-self: flex-start;
            display: flex;
          }

          picture {
            display: block;
            height: 100%;
            width: 100%;
          }

          .thumbnails {
            bottom: -24px;
            display: flex;
            justify-content: center;
            max-width: 450px;
            position: absolute;
            right: auto;
            width: 100%;
            z-index: 1;

            @include grid-media($for-small-screens-up) {
              bottom: 0;
              justify-content: flex-end;
              margin: 1em;
              right: 0;
            }
          }

          button {
            appearance: none;
            background: none;
            border: 0;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba($black, 0.1);
            cursor: pointer;
            height: 48px;
            margin-left: 8px;
            overflow: hidden;
            padding: 0;
            transition: 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            transition-property: box-shadow,background-color;
            width: 48px;

            @include grid-media($for-small-screens-up) {
              height: 72px;
              width: 72px;
            }

            @include grid-media($for-desktop-up) {
              height: 96px;
              width: 96px;
            }

            &:hover {
              box-shadow: 0 0 4px 2px $green;
            }

            &.active {
              background: $black;
              transition-duration: 0.1s;

              img {
                opacity: 0.5;
                transition-duration: 0.1s;
              }
            }
          }

          img {
            height: 100%;
            object-fit: cover;
            object-position: top;
            transition: opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
            width: 100%;
          }
        }

        .product-image {
          display: block;
          max-height: 100%;
          max-width: 100%;
          object-fit: cover;
          position: relative;
          width: auto;
          z-index: 1;
        }

        .product-content {
          background: $white;
          display: flex;
          flex: 0 0 50%;
          flex-direction: column;
          padding: 2em 1em 0;

          @include grid-media($for-desktop-up) {
            padding: 2em;
          }

          h2 {
            font-size: $base-font-size * 1.6;
            font-weight: 600;
            margin-bottom: 0.25em;

            @include grid-media($for-desktop-up) {
              font-size: $base-font-size * 2;
            }
          }

          .product-price-stock {
            display: flex;

            div {
              flex: 1 0 50%;
            }

            .stock {
              text-align: right;
            }
          }

          .product-price {
            display: flex;
            flex-direction: column;
          }

          .old-price {
            font-size: $base-font-size;
            margin-bottom: 0;
          }

          .price {
            color: $green;
            display: block;
            font-size: $base-font-size * 1.5;
            font-weight: $font-weight-bold;
            margin-bottom: 0;
          }

          .vat {
            font-size: $base-font-size * 0.8;
            font-style: italic;
          }
        }

        .size-table {
          font-size: $base-font-size * 0.8;
          margin: 0 0 0.5em;

          + p {
            font-style: italic;
          }
        }

        ul.accordion {
          font-size: $base-font-size * 0.8;
          list-style: none;
          margin: 0;
          padding: 0;

          .inner {
            display: none;

            ul {
              margin: 0.5em 0;
            }

            .size-image {
              margin: 0 auto;
              max-width: 300px;
            }

            p {
              margin: 0.5em 0;
            }
          }

          li {
            a.toggle {
              border-bottom: 1px solid $light-gray;
              color: $dark-gray;
              display: block;
              font-weight: $font-weight-bold;
              padding: 1em 0;
              position: relative;
              text-decoration: none;
              width: 100%;

              &.active {
                &::after {
                  transform: rotate(45deg);
                }

                &::before {
                  transform: rotate(-45deg);
                }
              }

              &::after,
              &::before {
                backface-visibility: hidden;
                background: $dark-gray;
                content: "";
                height: 2px;
                position: absolute;
                right: 0;
                top: 50%;
                transition-duration: 0.2s;
                transition-property: transform;
                width: 13px;
              }

              &::after {
                transform: rotate(-45deg);
              }

              &::before {
                right: 8px;
                transform: rotate(45deg);
              }
            }
          }
        }
      }

      &.back-link {
        padding: 1em;
        text-align: center;

        @include grid-media($for-desktop-up) {
          padding: 2em 1em;
        }
      }
    }

    section.products {
      background: $lightest-gray;
    }
  }
}




