$for-desktop-up: (
  media: "screen and (min-width: 820px)"
);

$for-mobile: (
  media: "screen and (max-width: 819px)"
);

.grid-row {
  @include grid-container;
  @include margin(null auto);
  max-width: 960px;
  padding: 2em $base-spacing;
}

.smallest-row {
  .grid-row {
    max-width: $smallest-row;
  }
}
