$for-desktop-up: (
  media: "screen and (min-width: 820px)"
);

$for-mobile: (
  media: "screen and (max-width: 819px)"
);

$small-screens-up: (
  media: "screen and (min-width: 540px)"
);

.grid-row {
  @include grid-container;
  @include margin(null auto);
  max-width: 960px;
  padding: 2em $base-spacing;
}

.smallest-row {
  .grid-row {
    max-width: $smallest-row;
  }
}

.small-row {
  .grid-row {
    max-width: $small-row;
  }
}

.medium-row {
  .grid-row {
    max-width: $medium-row;
  }
}

.wide-row {
  .grid-row {
    max-width: $wide-row;
  }
}

