<div class="age-gate">
  <div class="age-gate-modal">
    <div class="age-gate-logo">
      <%= inline_svg "logo-folkingebrew-age-gate.svg", alt: "Folkingebrew" %>
    </div>
    <div class="age-gate-options">
      <a href="#" id="age-gate-consent" class="button normal-size solid green">Over 18</a>
      <a href="https://www.nix18.nl/" class="button normal-size solid gray">Under 18</a>
    </div>
  </div>
</div>
