<section class="beers">
  <div class="grid-row">

    <% data.beers.each do |beer| %>
      <% link_to("/onze-bieren/#{beer.path}/", class: "beer-item") do %>
        <%= image_tag "beers/#{beer.image}", alt: "#{beer.item}" %>
        <h2>
          <%= beer.item %>
        </h2>
        <p>
          <%= beer.style %>
        </p>
      <% end %>
    <% end %>

  </div>
</section>
