<% data.checkins.each do |item| %>
  <div class="flex-item" %>
    <div class="col col-img">
    <%= "<div><img src='#{item.image}' alt='#{item.title}'></div>" %>
    </div>
    <div class="col">
      <%= "<div><strong>#{item.title}</strong></div>" %>
      <%= "<div>#{item.description}</div>" %>
      <%= "<div>#{item.date}</div>" %>
    </div>
  </div>
<% end %>
