<section class="checkins">
  <div class="grid-row">
    <h2>
      Fanfoto's
    </h2>

    <div class="checkin-wrapper">
      <% data.checkins[0..5].each do |item| %>
        <div class="checkin-item">
          <div class="row row-img">
            <img src="<%= item.image %>" alt="<%= item.title %>">
          </div>
          <div class="row row-text">
            <div class="user"><%= item.user %></div>
            <div class="date"><%= item.date %></div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</section>
