<section class="checkins">
  <div class="grid-row">
    <h2>
      Checkins
    </h2>

    <div class="checkin-wrapper">
      <% data.checkins[0..5].each do |item| %>
        <div class="checkin-item" %>
          <div class="row row-img">
            <%= "<div><img src='#{item.image}' alt='#{item.title}'></div>" %>
          </div>
          <div class="row row-text">
            <%= "<div><strong>#{item.title}</strong></div>" %>
            <%= "<div class='date'>#{item.date}</div>" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</section>
