<form action="https://folkingebrew.us18.list-manage.com/subscribe/post?u=6c5f655b04dfe50ad3d0b04a2&amp;id=84047e5117" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class="inline-block w-full lg:w-auto">
    <label for="mce-EMAIL" class="block font-bold">Email</label>
    <input type="email" value="" name="EMAIL" class="required email w-full mb-3 lg:mb-0 lg:w-80 focus:border-green-default focus:ring-green-default" id="mce-EMAIL">
    <div class="mc-field-group input-group" style="display: none">
      <input type="checkbox" value="1" name="group[7558][1]" id="mce-group[7558]-7558-0" checked><label for="mce-group[7558]-7558-0">consumer</label>
    </div>
    <div>
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6c5f655b04dfe50ad3d0b04a2_84047e5117" tabindex="-1" value="">
    </div>
  </div>
  <input type="submit" class="cursor-pointer inline-block text-white w-28 py-2 px-2 text-base bg-green-default border-green-default text-white hover:bg-green-darker hover:border-green-darker font-semibold transition-all border border-solid" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>