<% navigation_items = data["navigation_main"] %>

<nav class="site-header bg-black transition-all duration-150 ease-in-out fixed w-full left-0 top-0 z-10 motion-reduce:transition-none">
  <div class="max-w-full mx-auto px-2 relative z-10 sm:px-6">
    <div class="relative flex justify-between h-16 sm:h-20">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white" aria-controls="mobile-menu" aria-expanded="false" id="menu-toggle">
          <span class="sr-only">Open main menu</span>
          <svg class="button-show-nav block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#FFFFFF" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg class="button-hide-nav hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#FFFFFF" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center">
        <div class="logo flex-shrink-0 flex items-center md:w-30">
          <% link_to "/" do %>
            <%= image_tag "logo-folkingebrew-hopje.svg", class: "block h-12 w-auto", alt: "Folkingebrew Groningen" %>
          <% end %>
        </div>
        <div class="hidden sm:block sm:w-full sm:flex sm:justify-center">
          <% navigation_items.each do |item| %>
            <%= navigation_link text: item.title,
                                link: item.link %>
          <% end %>
          <a href="/crowdfunding/" class="bg-green-default border-green-default text-white hover:bg-green-darker hover:!text-white hover:border-green-darker px-4 py-2 h-auto font-medium transition-all border-2 border-solid">
            Crowdfunding
          </a>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex justify-end items-center pr-2 sm:static sm:pr-0 sm:inset-auto md:w-30">
        <div class="snipcart-summary">
          <button type="button" class="snipcart-checkout bg-transparent flex text-sm focus:outline-none">
            <span class="sr-only">Open Cart</span>
            <%= image_tag "icons/cart.svg", class: "block w-6 h-6", alt: "cart icon" %>
            <span class="snipcart-items-count text-white w-3"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div id="mobile-menu" class="mobile-navigation hidden fixed overflow-scroll top-0 pt-16 bg-black w-full h-full left-0">
    <div class="px-4 pt-2 pb-3 space-y-1 h-full flex flex-col justify-center items-start">
      <% navigation_items.each do |item| %>
        <%= mobile_navigation_link text: item.title,
                                   link: item.link %>
      <% end %>
      <a href="/crowdfunding/" class="bg-green-default border-green-default text-white hover:bg-green-darker hover:!text-white hover:border-green-darker px-4 py-2 h-auto font-medium transition-all border-2 border-solid">
        Crowdfunding
      </a>
    </div>
  </div>
</nav>
