<section class="newsletter single-column small">
  <div class="grid-row">

    <h2>
      Nieuwsbrief
    </h2>
    
    <p>
      Wil je op de hoogte worden gehouden van ons nieuws en releases? Schrijf je dan in voor onze nieuwsbrief!
    </p>

    <form action="https://folkingebrew.us18.list-manage.com/subscribe/post?u=6c5f655b04dfe50ad3d0b04a2&amp;id=84047e5117" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="mc-field-group">
      	<label for="mce-EMAIL">E-mailadres</label>
      	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
      </div>

      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_6c5f655b04dfe50ad3d0b04a2_84047e5117" tabindex="-1" value="">
      </div>

      <button type="submit" value="Subscribe" name="subscribe" class="button">
        Aanmelden
      </button>
    </form>

  </div>
</section>
