<section class="bg-neutral py-12 px-6">
  <div class="mb-6 max-w-lg m-auto">
    <%= content_tag(:h2, dato.block.newsletter_subscribe, class: "text-white text-xl lg:text-xl mb-3") %>
    <%= partial "partials/form_mailchimp", locals: { text: "text-white" } %>
  </div>
</section>