<% 
  total_pages = pager.total_pages
  current_page = pager.current_page
%>

<% if pager && total_pages > 1 %>
  <div class="pagination">
    <ul>
      <% for page in 1..total_pages %>
        <% if page == current_page %>
          <li class="current item">
            <span><%= current_page %></span>
          </li>
        <% else %>
          <%
          page_url = "/beers/"
          page_url << "page/#{page}" unless page == 1
          %>
          <li>
            <%= link_to page, page_url %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
