<nav class="site-navigation" role="navigation">
  <div class="logo">
    Folkingebrew
  </div>

  <a id="mobile-toggle" class="mobile-toggle">
    <span></span>
    <span></span>
    <span></span>
  </a>

  <div class="navigation-bar">
    <ul class="menu">
      <li>
        <%= link_to "Home", "/index.html", relative: false, class: "root-link" %>
      </li>
    </ul>
  </div>
</nav>
