<div class="site-header">
  <div class="grid-row">

    <% link_to("/", relative: false, class: "logo") do %>
        <%= inline_svg "logo-folkingebrew.svg", alt: "Logo Folkingebrew" %>
    <% end %>

  </div>
</div>
