<footer role="footer">
  <div class="grid-row">
    &copy; <%= Time.new.year %> <%= data.site.name %> <a href="https://www.github.com/ronalddijkstra/folkingebrew" class="icon-github" target="_blank" rel="noopener noreferrer"></a>
  </div>
</footer>
