<nav class="site-navigation" role="navigation">

  <a id="mobile-toggle" class="mobile-toggle">
    <span></span>
    <span></span>
    <span></span>
  </a>

  <div class="navigation-bar">
    <ul class="menu">
      <li>
        <%= current_link_to "Home", "index.html", relative: false, class: "root-link" %>
      </li>
      <li>
        <%= current_link_to "Bieren", "onze-bieren.html", class: "root-link" %>
      </li>
      <li>
        <%= current_link_to "Over Ons", "over-ons.html", class: "root-link" %>
      </li>
      <li>
        <%= current_link_to "Contact", "contact.html", class: "root-link" %>
      </li>
    </ul>
  </div>
</nav>
