<!-- <footer role="footer">
  <div class="grid-row">
    <div class="col col-left">
      <%= inline_svg "hopje.svg", alt: "Folkingebrew HOP" %>
    </div>
    <div class="col col-ctr">
      &copy; <%= Time.new.year %> Folkingebrew
    </div>
    <div class="col col-right">
      <div class="address">
        <div><strong>Folkingebrew</strong></div>
        <div>Folkingestraat 18</div>
        <div>9711 JW</div>
        <div>Groningen</div>
      </div>
    </div>
  </div>
</footer> -->
