<section class="social-links">
  <div class="grid-row">
    <h2>
      Volg ons via social media
    </h2>

    <div class="social-links">
      <a href="https://www.untappd.com/Folkingebrew" class="icon-untappd" target="_blank" rel="noopener noreferrer"></a>
      <a href="https://www.facebook.com/Folkingebrew-167577637289407/" class="icon-facebook" target="_blank" rel="noopener noreferrer"></a>
      <a href="https://www.instagram.com/folkingebrew/" class="icon-instagram" target="_blank" rel="noopener noreferrer"></a>
    </div>
  </div>
</section>
