<h2>Shipping</h2>

<p>For shipping, the following rules currently apply:</p>

<%#= partial "content/shipping-conditions" %>

<h3>Package Missing?</h3>

<p>
  Please note that at the current time, all courier companies including PostNL are very busy so there could be a delay. But if your track & trace has not changed for over five working days, please contact us immediately at webshop@folkingebrew.nl. We have a 30 day time window at PostNL for starting an investigation. After that refunds are not possible!
</p>

<h2>Returning</h2>

<p>
  You have the right to return your package for a period of 14 days after the purchase. The costs for returning the package are yours. In order to return your beers and/or other products, please send an email to webshop@folkingebrew.nl. We'll send you instructions. If we received and checked your return shipment, you will be refunded for the beers and/or other products you returned.</p>

<h2>Contact us</h2>

<p>
  You can contact us with any question through our <%= link_to "contact form", "contact.html" %>.
</p>
