---
title: "Our Beers"
description: "All our beers"
blog: beers
pageable: true
---
<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      <%= t("pages.beers.title") %>
    </h1>
  </div>
</header>
<section class="beers wide-row">
  <div class="grid-row">
    <div class="beer-grid-wrap">
      <div class="beer-grid feed">
        <div class="row">
          <% page_articles.each do |beer| %>
            <%= partial "beers/beer-preview", locals: { beer: beer } %>
          <% end %>
        </div>
      </div>
    </div>

    <%= partial "partials/pagination", locals: current_page.metadata[:locals] %>
  </div>
</section>
