@import "tailwindcss" theme(static);
@source "../views/";
@source "../../app/";

@theme {
  /* Brand colors */
  --color-primary: #54b848;
  --color-primary-dark: #326f2b;
  --color-body: #3f3f46;
  --color-neutral: #171717;
  --font-sans: 'Open Sans', sans-serif;

  --breakpoint-wp: 782px;
  --breakpoint-xs: 360px;
}

@custom-variant menu-open (.menu-open &);
@custom-variant has-adminbar (.admin-bar &);
@custom-variant at-the-top (.at-the-top &);

@layer base {
  a {
    @apply underline;
  }
}

@layer utilities {  
  .admin-bar .has-adminbar\:min-h-screen-minus-admin-bar {
    min-height: calc(100vh - 46px);
    
    @media (min-width: 768px) {
      min-height: calc(100vh - 32px);
    }
  }

  .admin-bar .has-adminbar\:min-h-screen-plus-admin-bar {
    min-height: calc(100vh + 46px);
    
    @media (min-width: 768px) {
      min-height: calc(100vh + 32px);
    }
  }
}

@font-face {
  font-family: 'Open Sans';
  src: url('@fonts/OpenSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('@fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('@fonts/OpenSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('@fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('@fonts/Orbitron-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('@fonts/BebasNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#wpadminbar {
  @apply fixed;
}