@import "tailwindcss";
@reference "./app.css" theme;

#editor {
  & .wp-block-post-title {
    @apply m-0 bg-white border-2 border-dashed border-body font-sans p-5;
  }

  .block-editor-block-toolbar > div:nth-of-type(2),
  .block-editor-block-toolbar > div:nth-of-type(3) {
    @apply hidden;
  }

  .edit-post-fullscreen-mode-close {
    @apply bg-primary;
  }

  .edit-post-fullscreen-mode-close.components-button:before {
    @apply shadow-none bg-center bg-no-repeat;
    background-image: url(@images/icon-folkingebrew-white.svg);
  }

  .edit-post-fullscreen-mode-close > svg {
    @apply hidden;
  }

  .editor-styles-wrapper::after {
    @apply hidden;
  }
}

@font-face {
  font-family: 'Open Sans';
  src: url('@fonts/OpenSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('@fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('@fonts/OpenSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('@fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('@fonts/Orbitron-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('@fonts/BebasNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
