@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --swiper-navigation-color: var(--color-primary);
  --swiper-pagination-color: var(--color-primary);
  --swiper-navigation-size: 24px;
  --swiper-pagination-bullet-inactive-color: var(--color-neutral-gray);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
}

.review-slider {
  @apply px-16;

  .swiper-slide {
    @apply h-auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    &.swiper-button-disabled {
      @apply opacity-30;
    }
  }

  .swiper-pagination {
    @apply relative mt-6;
  }
}
