.hero {
  background-attachment: scroll;
  background-image: url("../images/hero-1024.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  position: relative;
  text-align: center;
}
