<div class="age-gate" data-rel="age-gate">
  <div class="age-gate-modal">
    <div class="age-gate-logo">
      <%= inline_svg "logo-folkingebrew-age-gate.svg", alt: "Folkingebrew" %>
    </div>
    <div class="age-gate-options">
      <button data-rel="age-gate-consent" class="button normal-size solid green">Over 18</button>
      <a href="https://www.kindertube.nl/gonnie-en-gijsje/gonnie-en-gijsje-filmpjes.html" class="button normal-size solid gray">Under 18</a>
    </div>
  </div>
</div>
