<section class="newsletter-subscribe">
  <div class="grid-row">
    <div class="contact-form">
      <form action="https://folkingebrew.us18.list-manage.com/subscribe/post?u=6c5f655b04dfe50ad3d0b04a2&amp;id=84047e5117" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="newsletter-subscribe-form">
          <div class="newsletter-text">
            <h3>
              Get our newsletter for fresh beer, news and events
            </h3>
          </div>
          <div class="mc-field-group email-input">
            <input type="email" value="" name="EMAIL" class="required email newsletter-input" id="mce-EMAIL" placeholder="<%= form.email %>" required>
          </div>
          <div class="mc-field-group input-group" style="display: none">
            <strong>type</strong>
            <ul>
              <li><input type="checkbox" value="1" name="group[7558][1]" id="mce-group[7558]-7558-0" checked><label for="mce-group[7558]-7558-0">consumer</label></li>
            </ul>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_6c5f655b04dfe50ad3d0b04a2_84047e5117" tabindex="-1" value="">
          </div>
          <div>
            <button type="submit" value="Subscribe" name="subscribe" class="button solid medium-size green">
              <% if locals[:button_text] %>
                <%= button_text %>
              <% else %>
                Subscribe
              <% end %>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
