<div class="social-links">
  <%= link_to "", "https://www.untappd.com/Folkingebrew", class: "social-icon icon-twitter", target: "_blank", rel: "noopener noreferrer" %>
  <%= link_to "", "https://www.facebook.com/Folkingebrew-167577637289407/", class: "social-icon icon-facebook", target: "_blank", rel: "noopener noreferrer" %>
  <%= link_to "", "https://www.instagram.com/folkingebrew/", class: "social-icon icon-instagram", target: "_blank", rel: "noopener noreferrer" %>
</div>
