body.webshop_index {
  background: $white;

  .grid-row {
    h1 {
      color: $black;
    }
  }

  .products {
    .product-container {
      border-top: 2px solid $lightest-gray;
      max-width: $wide-row;
      padding: 0;

      @include grid-media($for-desktop-up) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto 4em;
      }
    }

    .product {
      background: $white;
      border-bottom: 2px solid $lightest-gray;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      padding: 20px 4%;
      position: relative;

      @include grid-media($for-desktop-up) {
        width: 50%;
      }

      &:nth-child(odd) {
        border-right: 2px solid $lightest-gray;
      }

      .product-media {
        background: $light-gray;
        padding-top: 56.25%;
        position: relative;
      }

      .product-image-wrapper {
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .product-image {
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        transition: all 200ms ease-in-out;
        width: 100%;

        &:hover {
          height: 110%;
          top: -5%;
        }
      }

      .product-title {
        font-weight: 600;
        margin-bottom: 1em;
        margin-top: 1em;
        text-align: center;

        a {
          color: $dark-gray;
          text-decoration: none;
        }
      }

      .product-meta {
        border: 1px solid $medium-gray;
        border-left: 0;
        border-right: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;

        @include grid-media($for-desktop-up) {
          margin-bottom: 0;
        }

        div {
          padding-bottom: 0.5em;
          padding-top: 0.5em;
          width: 50%;

          &.product-price {
            border-right: 1px solid $medium-gray;
          }

          &.product-stock {
            padding-left: 1em;
          }
        }
      }

      .product-controls {
        @include grid-media($for-desktop-up) {
          display: flex;
          flex-direction: row;
        }

        .product-description {
          margin-bottom: 1em;
          min-width: 0;

          .very-long-string {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          @include grid-media($for-desktop-up) {
            align-items: center;
            border-right: 1px solid $medium-gray;
            margin-bottom: 0;
            padding-right: 1em;
            padding-top: 1em;
            width: 50%;
          }
        }

        .add-to-cart {
          @include grid-media($for-desktop-up) {
            padding-bottom: 1em;
            padding-left: 1em;
            padding-top: 1em;
            width: 50%;
          }

          .product-selectors {
            display: flex;

            @include grid-media($for-desktop-up) {
              padding-bottom: 1em;
            }
          }

          .product-size {
            margin-left: 1em;
          }

          .product-quantity {
            display: flex;
          }

          button.quantity-adjust {
            background-color: $white;
            border: $base-border;
            color: $dark-gray;
            height: 46px;
            width: 46px;
            text-align: center;

            &:hover {
              background-color: $lightest-gray;
            }

            &.min {
              border-right: 0;
            }

            &.plus {
              border-left: 0;
            }
          }

          input[type=number] {
            appearance: none;
            height: 46px;
            -moz-appearance: textfield;
            padding: 0;
            overflow: visible;
            width: 46px;
            text-align: center;
          }

          select {
            line-height: 1.4;
            width: 120px;
          }
        }
      }
    }
  }
}
