<% content_for(:head) do %>
  <%= dato_meta_tags(dato.beer_index) %>
<% end %>

<%= regular_header title: t("beers.title") %>

<section class="grid md:grid-cols-2 lg:grid-cols-3 gap-9 max-w-7xl m-auto px-6 md:px-10 pb-12 md:pb-24">
  <% items.each do |beer| %>
    <%= beer_card beer: beer %>
  <% end %>
  <%= partial "partials/pagination" %>
</section>

