<% content_for(:head) do %>
  <%= dato_meta_tags(dato.blog_index) %>
<% end %>

<%= regular_header title: dato.blog_index.title %>

<section class="w-full m-auto max-w-7xl px-6">
  <% items.sort_by(&:publish_date).reverse.each do |post| %>
    <%= post_card post: post %>
  <% end %>
</section>
