// Typography
$base-font-family: "Open Sans", $font-stack-helvetica;
$heading-font-family: "Roboto Condensed", $font-stack-helvetica;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Font weights
$font-weight-small: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Other Sizes
$base-border-radius: 3px;
$base-font-size: 1em;
$base-spacing: 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$black: #000;
$white: #fff;
$blue: #1565c0;
$green: #009444;
$orange: #e86240;
$dark-gray: #303030;
$medium-gray: #999;
$light-gray: #aaa;
$lighter-gray: #ddd;
$lightest-gray: #efefef;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
