html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background: $white;
  margin: 0;
}

section {
  padding: 3em 0;

  @include media($medium-up) {
    padding: 4em 0;
  }
}

.row {
  @include outer-container;
  padding: 0 1em;
  position: relative;
}
