body.nieuws_index {
  .grid-row {
    max-width: $smallest-row;

    article {
      margin-bottom: 3em;

      .post-header {
        a {
          color: $dark-gray;
          text-decoration: none;
        }

        time {
          color: $light-gray;
        }
      }

      p {
        margin-bottom: 1em;
      }
    }
  }
}
