<payment section="top">
  <div class="snipcart-form__field snipcart-form__cell--large">
    <snipcart-checkbox name="terms-and-conditions" required></snipcart-checkbox>
    <snipcart-label for="terms-and-conditions">
      I have read and agree to the&nbsp;<%= link_to "Terms & Conditions", "/terms-and-conditions.html" %>
    </snipcart-label>
  </div>
</payment>

<address-fields>
  <div>
    <fieldset class="snipcart-form__set">
      <div class="snipcart-form__row">
        <div class="snipcart-form__field snipcart-form__cell--large">
          <snipcart-label
            class="snipcart__font--tiny"
            for="phone"
          >Phone Number</snipcart-label>
          <snipcart-input name="phone"></snipcart-input>
        </div>
      </div>
      <div class="snipcart-form__row">
        <div class="snipcart-form__field snipcart-form__cell--large">
          <snipcart-label
            class="snipcart__font--tiny"
            for="address1"
          >Address</snipcart-label>
          <snipcart-input name="address1"></snipcart-input>
          <snipcart-error-message name="address1"></snipcart-error-message>
        </div>
      </div>
      <div class="snipcart-form__row">
        <div class="snipcart-form__field snipcart-form__cell--tidy">
          <snipcart-label
            class="snipcart__font--tiny"
            for="postalCode"
          >{{ $localize('address_form.postalCode') }}</snipcart-label>
          <snipcart-input name="postalCode"></snipcart-input>
          <snipcart-error-message name="postalCode"></snipcart-error-message>
        </div>
        <div class="snipcart-form__field snipcart-form__cell--large">
          <snipcart-label
            class="snipcart__font--tiny"
            for="city"
          >{{ $localize('address_form.city') }}</snipcart-label>
          <snipcart-input name="city"></snipcart-input>
          <snipcart-error-message name="city"></snipcart-error-message>
        </div>
      </div>
      <div class="snipcart-form__field">
        <snipcart-label
          class="snipcart__font--tiny"
          for="country"
        >{{ $localize('address_form.country') }}</snipcart-label>
        <snipcart-typeahead type="dropdown" name="country" autocomplete="country"></snipcart-typeahead>
      </div>
    </fieldset>
  </div>
</address-fields>
