section.beers {
  .grid-row {
    border-bottom: 1px solid $lightest-gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 1em;
    text-align: left;

    @include grid-media($for-desktop-up) {
      align-items: center;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .col {
    padding: 3em 0;
    width: 100%;

    @include grid-media($for-desktop-up) {
      flex: 1;
      padding: 3em 1em;

      &:first-child {
        margin-right: 2em;
      }

      &:last-child {
        margin-left: 2em;
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }

    &-img {
      background: $lightest-gray;
      margin-bottom: 1em;
      order: 1;

      @include grid-media($for-desktop-up) {
        margin-bottom: 0;
        order: initial;
      }
    }

    &-txt {
      order: 2;
      padding: 0;

      @include grid-media($for-desktop-up) {
        order: initial;
        padding: initial;
      }
    }
  }
}
