@mixin button($color) {
  background-color: $color;
  border: 2px solid $color;
  color: $white;
  height: auto;
  letter-spacing: 0.1rem;

  [class*="button-icon"] {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background-color: lighten($color, 5%);
    border-color: lighten($color, 5%);

    .button-icon-left {
      transform: translateX(-0.3rem);
    }

    .button-icon-right {
      transform: translateX(0.3rem);
    }
  }

  &.ghost {
    background-color: transparent;
    border-color: $color;
    color: $color;

    .inline-svg {
      fill: $color;
    }

    &:hover {
      background-color: transparent;
      border-color: lighten($color, 10%);
      color: lighten($color, 15%);

      .inline-svg {
        fill: lighten($color, 15%);
      }
    }

    &.no-border {
      border: 0;
    }

    &.transparent-border {
      border-color: transparent;
    }
  }

  &.solid {
    background-color: $color;
    border-color: $color;
    color: $white;

    .inline-svg {
      fill: $white;
    }

    &:hover {
      background-color: lighten($color, 5%);
      border-color: lighten($color, 5%);
    }
  }

  &.normal-size {
    padding: 1rem 2rem;
  }

  &.medium-size {
    padding: 2.1rem 2rem;
  }
}

#{$all-buttons},
.button {
  @include button($action-color);
  appearance: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  user-select: none;
  vertical-align: baseline;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.size-big {
    font-size: $base-font-size * 1.2;
  }

  &.white {
    @include button($white);
    color: lighten($base-font-color, 15);

    &:hover,
    &:focus {
      background-color: $white;
      color: $base-font-color;
    }

    &.ghost {
      &:hover,
      &:focus {
        border-color: $white;
        color: $white;
      }
    }
  }
}
