.flex-wrapper {
  text-align: left;

  .flex-item {
    @include grid-container;
    @include margin(null auto);
    background: $white;
    box-shadow: 0 0 5px 0 rgba(204, 204, 204, 1);
    display: flex;
    margin-bottom: 2em;
    max-width: 800px;
    padding: 2em;

    .col {
      min-width: 0;

      &.col-img {
        flex: 0 0 80px;
        margin-right: 1em;

        img {
          max-width: 100%;
        }
      }
    }

    .item-description {
      padding-bottom: 1em;
    }

    .item-meta {
      font-size: $base-font-size * 0.8;
      padding-bottom: 0.3em;

      @include grid-media($for-desktop-up) {
        display: inline-block;
      }

      div {
        display: inline-block;
        margin-left: 4px;
        padding-left: 12px;
        position: relative;

        &:first-child {
          margin-left: 0;
          padding-left: 0;

          &::before {
            display: none;
          }
        }

        &::before {
          color: $dark-gray;
          content: "•";
          display: block;
          left: 0;
          position: absolute;
          top: 0;
        }
      }
    }
  }
}
