$_form-background-color: $white;
$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);

.form-grid-row {
  @include grid-container;
  @include margin(null auto);
}

.form-item {
  margin-bottom: $base-spacing;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  font-weight: $font-weight-semibold;
  margin-bottom: $small-spacing;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5;
  padding: $base-spacing * 0.8;
}

#{$all-text-inputs} {
  appearance: none;
  background-color: $_form-background-color;
  border: $base-border;
  box-shadow: $_form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: $base-spacing * 0.8;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    outline: none;
  }

  &:disabled {
    background-color: shade($_form-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }
}

textarea {
  resize: vertical;
}
