section.hero-big {
  .grid-row {
    align-items: center;
    display: flex;
    height: -webkit-fill-available;
    height: 100vh;
    justify-content: center;
    padding: 0 2em;
    position: relative;

    .hero-continue-icon {
      align-items: center;
      background-color: $white;
      border-radius: 50%;
      bottom: 0;
      box-shadow: 0 0.9rem 2.4rem -1.6rem rgba($black, 0.5);
      display: flex;
      font-size: $base-font-size * 1.4;
      height: 5rem;
      justify-content: center;
      left: 50%;
      margin: 0;
      opacity: 0;
      position: fixed;
      text-decoration: none;
      transform: translateX(-50%);
      transition: all 0.2s ease-in-out;
      width: 5rem;

      @include grid-media($for-desktop-up) {
        font-size: $base-font-size * 1.4;
        height: 6rem;
        width: 6rem;
      }

      &:hover {
        transform: translateX(-50%) scale(1.1);
      }

      body.at-the-top & {
        bottom: 1rem;
        opacity: 1;

        @include grid-media($for-desktop-up) {
          bottom: 2rem;
        }
      }
    }
  }

  body.index & {
    &::before {
      $background-image: "../images/hero-folkingestraat.jpg";

      background-image: url($background-image);
    }
  }

  body.x404 & {
    &::before {
      $background-image: "../images/hero-bubbles.png";

      background-image: url($background-image);
    }

    h1 {
      color: $white;
      font-size: $base-font-size * 2;
    }
  }

  &::before {
    background-position: 50% bottom;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: screen;
    opacity: 0.15;
    position: absolute;
    right: 0;
    top: 0;
  }
}
