#map_container {
  position: relative;
}

#map {
  height: 0;
  overflow: hidden;
  padding-bottom: 45%;
  padding-top: 120px;
  position: relative;

  @include grid-media($for-desktop-up) {
    padding-bottom: 22.25%;
    padding-top: 30px;
  }
}
