section.newsletter-subscribe {
  background-color: #2d2e2b;

  .grid-row {
    padding: 5em 1em;
  }

  .newsletter-subscribe-form {
    @include grid-media($for-desktop-up) {
      justify-content: center;
    }
  }
}

.newsletter-subscribe-form {
  @include grid-media($for-desktop-up) {
    align-items: center;
    display: flex;
  }

  .newsletter-text {
    @include grid-media($for-desktop-up) {
      flex: 1 0 auto;
    }

    h3 {
      color: $white;

      @include grid-media($for-desktop-up) {
        margin-bottom: 0;
        margin-right: 1em;
      }
    }
  }

  button.medium-size {
    line-height: 1.4;
    padding: 0.8em;
    width: 100%;

    @include grid-media($for-small-screens-up) {
      width: auto;
    }
  }

  input[type="email"] {
    @include grid-media($for-desktop-up) {
      margin-bottom: 0;
      width: 300px;
    }
  }
}
