header.normal-page-header {
  .grid-row {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 4rem 1rem;

    h1 {
      color: $white;
      margin: 0;
      padding: 0 1em;
      text-align: center;

      @include grid-media($for-desktop-up) {
        font-size: 2.4em;
      }
    }
  }
}
