.pagination {
  text-align: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      display: inline-block;

      &:first-child {
        a,
        span {
          margin-left: 0;
        }
      }

      &.current span {
        background-color: $green;
        color: $white;
      }

      a,
      span {
        background-color: $white;
        display: block;
        font-size: $base-font-size;
        line-height: 3em;
        margin-left: 0.3em;
        padding: 0 1em;
      }

      a {
        color: $green;
        text-decoration: none;

        &:active,
        &:focus,
        &:hover {
          background: $lighter-gray;
        }
      }
    }
  }
}
