header.normal-page-header {
  .grid-row {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 7.2rem;
    padding: 4rem 1rem;

    @include grid-media($for-desktop-up) {
      margin-top: 8rem;
    }

    h1 {
      color: $white;
      font-size: $base-font-size * 3;
      margin: 0;
    }
  }
}
