table.responsive-table {
  @include grid-media($for-desktop-up) {
    .event-date {
      width: 18%;
    }

    .event-title {
      width: 56%;
    }

    .event-link {
      padding: 0.5em 0;
      text-align: right;
      width: 7%;
    }
  }

  @media
    only screen
    and (max-width: 760px), (min-device-width: 768px)
    and (max-device-width: 1024px)  {

    display: block;

    // Force table to not be like tables anymore
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    // Hide table headers (but not display: none;, for accessibility)
    thead tr {
      left: -9999px;
      position: absolute;
      top: -9999px;
    }

    td {
      // Behave  like a row
      border: 0;
      padding-left: 50%;
      position: relative;


      &::before {
        font-weight: $font-weight-bold;
        left: 6px;
        padding-right: 1em;
        position: absolute;
        white-space: nowrap;
        width: 45%;
      }
    }

    td:nth-of-type(1)::before { content: "Date"; }
    td:nth-of-type(2)::before { content: "Event"; }
    td:nth-of-type(3)::before { content: "Location"; }
    td:nth-of-type(4)::before { content: ""; }
  }
}
