footer {
  .content-wrap {
    color: $white;
    padding: 3em 0;
    position: relative;
    z-index: 0;

    a {
      text-decoration: none;
    }

    &::after {
      background-color: rgba($black, 0.85);
      border-radius: inherit;
      bottom: 0;
      content: " ";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .grid-row {
      padding: 0;
      position: relative;
      text-align: center;
      z-index: 2;

      @include grid-media($for-desktop-up) {
        display: flex;
        justify-content: space-between;
        padding: 2em 1em;
      }

      h4 {
        font-family: $base-font-family;
        font-size: $base-font-size;
      }

      .col {
        margin-bottom: 2em;

        @include grid-media($for-desktop-up) {
          flex: 1;
          margin-bottom: 0;
          text-align: left;
        }
      }

      .col-logo {
        text-align: center;
      }

      &.copyright {
        color: $lightest-gray;
        display: block;
        font-size: $base-font-size * 0.9;
      }

      .social {
        .social-icon {
          font-size: $base-font-size * 1.2;
          margin-left: 0.1em;
          margin-right: 0.1em;

          &:first-of-type {
            margin-left: 0;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
