div.site-header {
  background-color: $black;
  color: $white;
  position: relative;
  text-align: center;

  a.logo {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;

    @include grid-media($for-desktop-up) {
      height: 133px;
      line-height: 133px;
      margin: 40px auto;
      text-align: center;
      width: 280px;
    }
  }
}
