footer {
  background: $black;

  .grid-row {
    max-width: $wide-row;
    padding: 3em 0;

    &.copyright {
      color: $medium-gray;
      text-align: center;
    }
  }

  .footer-content {
    display: flex;
    line-height: 1.6;
  }

  .footer-column {
    display: flex;
    padding: 0 4%;
    position: relative;
    width: 33.33333333%;

    &:nth-child(-n+2) {
      border-right: 1px solid $medium-gray;
    }

    h3 {
      color: $medium-gray;
      font-size: $base-font-size;
      font-weight: $font-weight-semibold;
    }
  }

  .footer-link-column {
    &.secondary {
      padding-left: 70px;
    }
  }

  .footer-link-list {
    font-size: $base-font-size * 0.9;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      color: $lighter-gray;
      text-decoration: none;

      &:hover {
        color: lighten($lighter-gray, 20%);
      }
    }
  }

  address {
    color: $medium-gray;
    font-size: $base-font-size * 0.9;
    font-style: normal;
    padding-top: 3rem;
  }
}
