.header-background {
  $image: "/assets/images/banner-lupulone.png";

  background: $black url($image) no-repeat center center;
  background-size: cover;

  @include grid-media($for-desktop-up) {
    background-attachment: fixed;
  }
}

div.site-header {
  background-color: transparent;
  color: $white;
  position: relative;
  text-align: center;

  .grid-row {
    padding: 1em 0.5em;

    @include grid-media($for-desktop-up) {
      padding: 1em;
    }
  }

  a.logo {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;

    @include grid-media($for-desktop-up) {
      margin: 20px auto;
      text-align: center;
    }

    svg {
      width: 200px;

      @include grid-media($for-desktop-up) {
        width: 280px;
      }
    }
  }
}
