footer {
  .content-wrap {
    $background-image: "../images/moods/footer.jpg";

    background-image: url($background-image);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: scroll;
    background-size: cover;
    border-top-width: 1px;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    color: $white;
    padding: 4em 0;
    position: relative;
    z-index: 0;

    a {
      text-decoration: none;
    }

    &::after {
      background-color: rgba($black, 0.85);
      border-radius: inherit;
      bottom: 0;
      content: " ";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    .grid-row {
      padding: 0;
      position: relative;
      text-align: center;
      z-index: 2;

      @include grid-media($for-desktop-up) {
        display: flex;
        justify-content: space-between;
        padding: 2em 1em;
      }

      h4 {
        font-family: $base-font-family;
        font-size: $base-font-size;
      }

      .col {
        margin-bottom: 2em;

        @include grid-media($for-desktop-up) {
          flex: 1;
          margin-bottom: 0;
          text-align: left;
        }
      }

      &.copyright {
        color: $lightest-gray;
        display: block;
        font-size: $base-font-size * 0.9;
      }

      .social {
        .social-icon {
          font-size: $base-font-size * 1.2;
          padding: 0.2em;

          &:first-of-type {
            padding-left: 0;
          }

          &:hover {
            color: rgba($green, 0.75);
          }
        }
      }
    }
  }
}
