.site-navigation {
  background: transparent;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  @include grid-media($for-desktop-up) {
    background: $white;
    height: auto;
    position: relative;
    top: auto;
  }

  .mobile-toggle {
    background: $white;
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 200ms ease-in;
    width: 50px;

    @include grid-media($for-desktop-up) {
      display: none;
    }

    span {
      background-color: $action-color;
      bottom: auto;
      height: 3px;
      left: 50%;
      position: absolute;
      right: auto;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      transition: background-color 0.3s ease;
      width: 26px;

      &::after,
      &::before {
        background-color: $action-color;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        transition: 0.3s;
        width: 26px;
      }

      &::after {
        transform: translateY(9px);
      }

      &::before {
        transform: translateY(-9px);
      }
    }
  }

  &.navigation-open {
    .mobile-toggle span {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    .navigation-bar {
      max-height: 34em;
    }
  }

  .navigation-bar {
    float: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s;
    width: 100%;

    @include grid-media($for-desktop-up) {
      background-color: $white;
      display: block;
      max-height: none;
      text-align: center;
    }

    .menu {
      list-style-type: none;
      margin: 0;
      padding: 170px 0 0;

      @include grid-media($for-desktop-up) {
        display: flex;
        justify-content: center;
        padding: 0;
      }

      li {
        display: block;
        list-style-type: none;

        @include grid-media($for-desktop-up) {
          text-align: center;
        }
      }

      a {
        background: $white;
        color: $dark-gray;
        display: block;
        font-family: $heading-font-family;
        font-size: $base-font-size * 1.6;
        font-weight: $font-weight-small;
        padding: 10px $base-spacing * 0.9;
        text-decoration: none;
        text-transform: uppercase;

        @include grid-media($for-desktop-up) {
          border-bottom: 0;
          display: block;
          font-size: $base-font-size * 2;
          padding: 20px 45px;
          transition: background-color 200ms ease;

          &:hover {
            text-decoration: underline;
          }
        }

        &[aria-current]:not([aria-current="false"]) {
          background-color: $white;
          text-decoration: underline;
        }
      }
    }
  }
}
