.social-links {
  background: darken($untappd-gray, 2);
  line-height: normal;
  position: relative;
  text-align: center;
  z-index: 1;

  .grid-row {
    padding: 3em 1em;
  }

  h2 {
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;

    span {
      display: none;
    }
  }

  [class^="icon-"],
  [class*=" icon-"] {
    background-color: $action-color;
    border-radius: 6px;
    color: $white;
    font-size: $base-font-size * 1.8;
    margin: 0 0.2em;
    padding: $base-spacing * 0.4;

    &:hover {
      background-color: darken($action-color, 10%);
    }
  }
}
