---
title: "Blog"
description: "Folkingeblog"
blog: blog
pageable: true
---

<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      Blog
    </h1>
  </div>
</header>
<section class="smallest-row">
  <div class="grid-row">
    <% page_articles.each do |article| %>
      <%= partial "blog/article-preview", locals: { article: article } %>
    <% end %>
  </div>
</section>
