---
title: "Blog"
description: "Folkingeblog"
blog: blog
pageable: true
---

<section class="single-column">
  <div class="grid-row">
    <% page_articles.each do |article| %>
      <%= partial "blog/article-preview", locals: { article: article } %>
    <% end %>
  </div>
</section>
