body.shop {
  &.product-detail {
    background: $white;

    h1 {
      color: $black;
    }

    .grid-row {
      &.product-item {
        height: 100%;
        padding: 0;

        @include grid-media($for-desktop-up) {
          display: flex;
          padding: 0 1em;
        }
      }

      &.back-link {
        text-align: center;
      }

      .product-image {
        display: flex;

        @include grid-media($for-desktop-up) {
          flex: 0 0 50%;
        }

        .image-wrap {
          align-items: center;
          display: flex;
          overflow: hidden;
          position: relative;

          .image {
            max-width: 819px;
          }

          img {
            display: block;
            height: auto;
            width: 100%;
          }
        }
      }

      .product-content {
        align-items: center;
        background: $white;
        display: flex;
        flex: 0 0 50%;
        padding: 2em 1em;

        @include grid-media($for-desktop-up) {
          padding: 2em;
        }

        h2 {
          font-size: $base-font-size * 1.6;
          font-weight: 600;
          margin-bottom: 0.25em;

          @include grid-media($for-desktop-up) {
            font-size: $base-font-size * 2;
          }
        }

        .price {
          color: $green;
          font-size: $base-font-size * 1.2;
          font-weight: $font-weight-bold;
          margin-bottom: 0;
        }

        .vat {
          font-size: $base-font-size * 0.8;
          font-style: italic;
        }

        .product-quantity {
  display: flex;

  button.quantity-adjust {
    background-color: $white;
    border: $base-border;
    color: $dark-gray;
    height: 46px;
    text-align: center;
    width: 46px;

    &:hover {
      background-color: $lightest-gray;
    }

    &.min {
      border-right: 0;
    }

    &.plus {
      border-left: 0;
    }
  }
}
      }
    }
  }
}


// body.shop {
//   &.product-detail {
//     background: $white;

//     h1 {
//       color: $black;
//     }

//     .product {
//       .grid-row {
//         padding: 0 1em 4em;

//         &.product-item {
//           @include grid-media($for-desktop-up) {
//             display: flex;
//             height: 100%;
//           }
//         }

//         &.back-link {
//           text-align: center;
//         }

//         .grid-col {
//           @include grid-media($for-desktop-up) {
//             flex: 0 0 50%;
//           }
//         }
//       }

//       .product-image-col {
//         display: flex;
//         margin-bottom: 0.5em;

//         @include grid-media($for-desktop-up) {
//           margin-bottom: 0;
//         }
//       }

//       .product-image-wrap {
//         align-items: center;
//         display: flex;
//         overflow: hidden;
//         position: relative;

//         img {
//           display: block;
//           height: auto;
//           width: 100%;
//         }
//       }

//       .product-content-col {
//         align-items: center;
//         display: flex;

//         @include grid-media($for-desktop-up) {
//           padding: 2em;
//         }
//       }

//       .title {
//         font-weight: $font-weight-bold;
//       }

//       .price {
//         color: $green;
//         font-weight: $font-weight-bold;
//         margin-bottom: 0;
//       }

//       .vat {
//         font-size: $base-font-size * 0.8;
//         font-style: italic;
//       }
//     }
//   }
// }
