---
title: "404 - Page not found"
robots: noindex,nofollow
directory_index: false
---

<%= regular_header title:  t("pages.x404.title") %>

<section class="text-center px-6 text-white">
  <%= t("pages.x404.message") %>
</section>


