<footer class="footer">
  <div class="row">
    <div class="col">
      <h4>Social</h4>
      <ul class="inline-list social-icons">
        <li>
          <a class="icon-untappd" target="_blank" href="https://untappd.com/Folkingebrew" title="Folkingebrew op Untappd"></a>
        </li>
        <li>
          <a class="icon-instagram" target="_blank" href="https://www.instagram.com/folkingebrew/" title="Folkingebrew op Instagram"></a>
        </li>
        <li>
          <a class="icon-facebook" target="_blank" href="https://www.facebook.com/Folkingebrew-167577637289407/" title="Folkingebrew op Facebook"></a>
        </li>
      </ul>
    </div>
    <div class="col">
      <h4>Contact</h4>
      <!-- <p>
        <a href="mailto:folkingebrew@gmail.com">folkingebrew@gmail.com</a><br />
        Folkingestraat 18<br />
        9711 JW<br />
        Groningen
      </p> -->
      <ul>
        <li>
          <a href="mailto:folkingebrew@gmail.com">folkingebrew@gmail.com</a>
        </li>
        <li>
          Folkingestraat 18
        </li>
        <li>
          9711 JW
        </li>
        <li>
          Groningen
        </li>
      </ul>
    </div>
  </div>
</footer>
