<% content_for(:head) do %>
  <%= dato_meta_tags(dato.about_page) %>
<% end %>

<header class="max-w-8xl text-center px-4 py-12 normal-page-header">
  <h1 class="text-white text-4xl">
    <%= dato.about_page.title %>
  </h1>
</header>
<section class="max-w-4xl py-12 px-4 sm:px-32 bg-white m-auto text-lg">
  <article class="prose lg:prose">
    <%= markdownify(dato.about_page.content) %>
  </article>
</section>
<%= partial "partials/shared/newsletter-subscribe", locals: { button_text: "Subscribe" } %>
