<% content_for(:head) do %>
  <%= dato_meta_tags(dato.about_page) %>
<% end %>

<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      <%= dato.about_page.title %>
    </h1>
  </div>
</header>
<section class="about-us medium-row">
  <div class="grid-row">
    <div class="row">
      <%= markdownify(dato.about_page.content) %>
    </div>
  </div>
</section>
<%= partial "partials/shared/newsletter-subscribe", locals: { button_text: "Subscribe" } %>
