---
title: About us
description: "About Folkingebrew, the modern craft brewery based in Groningen, Netherlands."
---

<%= regular_header title: "About us" %>

<% regular_content html: { class: "mb-12 sm:mb-24" } do %>
  <% markdown_content html: { class: "prose-img:mt-0 prose-img:mb-0" } do %>
    <p><strong>We are beer geeks turned brewers, driven by a deep love for bold and expressive beer. From the start, we have focused on brewing modern hop-forward styles packed with character and flavor because that's what we love to drink.</strong></p>

    <p>Our journey began in 2017 in the backyard of a beer shop on the Folkingestraat in Groningen. That's where the name comes from: <em>Folkinge</em> for our starting point and <em>brew</em> for our inspiration from the American craft beer scene.</p>

    <p>Since day one our motto has been simple: never stop dreaming and learning. We constantly refine our recipes to push quality and flavor forward, driven by the ambition to one day open our own brewery.</p>

    <p>That ambition became reality with the opening of <a href="/the-pub.html">Folkingebrew The Pub</a>. A major milestone, it marks a new chapter in our story. It brings our beers closer to the people who love them, straight from the source. The Pub more than a bar. It is the heart of what we do.</p>

    <figure>
      <img src="<%= image_path 'the-team.jpg' %>" alt="Folkingebrew @ Bax by Hopster Magazine">
      <figcaption>@ Bax. Source: <a href="https://www.hopstermagazine.com/" target="_blank">Hopster Magazine</a></figcaption>
    </figure>
  <% end %>
<% end %>
