---
title: "Bedankt"
robots: noindex,nofollow
---

<section class="single-column">
  <div class="grid-row">
    <p class="thanks-message text-align-center">
      We nemen zo spoedig mogelijk contact met je op.
    </p>
  </div>
</section>
