---
title: "Bedankt"
robots: noindex,nofollow
---
<section class="hero hero-big">
  <div class="grid-row">
    <div>
      <h1>
        Bedankt!
      </h1>
    </div>
    <div>
      <p>
        Bedankt voor het invullen van ons contactformulier. We nemen zo spoedig mogelijk contact met je op.
      </p>
    </div>
  </div>
</section>
