---
title: "Contact"
description: "Neem contact op met Folkingebrew."
sitemap_priority: 0.5
---

<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-mash.jpg",
                                         title: "Contact"} %>

<section class="form">
  <div class="grid-row form-grid-row">
    <%= partial "contact/content" %>
    <h2>
      Contactformulier
    </h2>
    <%= partial "partials/form", locals: { name: "contact",
                                           title: "Contactformulier",
                                           fields: ["name", "email", "message"],
                                           button_text: "Verstuur",
                                           button_variant: "big"} %>
  </div>
</section>

<%= partial "partials/social-links" %>
