<% content_for(:head) do %>
  <%= dato_meta_tags(dato.crowdfunding_page) %>
<% end %>

<section class="bg-blend-soft-light bg-green-default px-6 text-center -mt-16 sm:-mt-20 bg-center bg-no-repeat bg-cover h-screen flex flex-col justify-center items-center" style="background-image: url(<%= dato.crowdfunding_page.background_image.url(fm: :webp, w: 1920, h: 1280) %>)">
  <div>
    <h1 class="text-white text-4xl md:text-7xl font-bold mb-2">
      <%= dato.crowdfunding_page.title %>
    </h1>
    <h2 class="text-white text-2xl md:text-3xl font-normal mb-6">
      <%= dato.crowdfunding_page.subtitle %>
    </h2>
  </div>
  <div class="p-9 mx-auto max-w-2xl bg-black bg-opacity-60 rounded-md">
    <div class="mx-auto max-w-screen-md text-center">
      <h2 class="mx-auto mb-4 font-light text-gray-300 md:mb-6 sm:text-xl">Join us on this journey by signing up with your email and be among the first in the know.</h2>
      <form  name="fundraising" method="POST" data-netlify="true" netlify-honeypot="honeypot" action="/thanks-crowdfunding/">
        <label class="hidden">Don’t fill this out if you're human: <input name="honeypot" /></label>
        <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
          <div class="relative w-full">
            <label for="email" class="hidden mb-2 text-sm font-medium text-gray-900">Email address</label>
            <input class="block p-3 w-full text-sm text-gray-900 bg-gray-50 border border-white focus:ring-green-default focus:border-green-default" placeholder="Enter your email" type="email" id="email" required="">
          </div>
          <div>
            <button type="submit" class="py-3 px-5 w-full text-sm font-medium text-center text-white border cursor-pointer bg-green-default border-green-default hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-800">Subscribe</button>
          </div>
        </div>
      </form>
    </div>
</section>
