---
title: "Frequently asked questions"
description: "Do you have questions about Folkingebrew or our beers? Here you'll find a selection of the most frequently asked questions."
---
<% questions = data["faq"] %>

<%= regular_header title: t("pages.faq.title") %>

<% regular_content html: { class: "mb-12 sm:mb-24" } do %>
  <% markdown_content html: { class: "mb-10" } do %>
    <%= partial "content/faq" %>
  <% end %>
  <div class="prose">
    <% questions.each do |question| %>
      <h2>
        <%= question.q %>
      </h2>
      <p>
        <%= question.a.to_s %>
      </p>
    <% end %>
  </div>
<% end %>
