<% content_for(:head) do %>
  <%= dato_meta_tags(dato.faq_page) %>
<% end %>

<%= regular_header title: "Frequently Asked Questions" %>

<% regular_content html: { class: "mb-12 sm:mb-24" } do %>
  <div class="prose">
    <% data.faq.each do |faq| %>
      <h2 class="mb-0">
        <%= faq.q %>
      </h2>
      <%= markdownify(faq.a) %>
    <% end %>
  </div>
<% end %>
