---
description: "Welkom bij Folkingebrew"
sitemap_priority: 1
---

<%= partial "partials/banner", locals: { variant: "variant-big",
                                         background_image: "banner-homepage.jpg",
                                         title: "Folkingebrew Grunn",
                                         sub_title: "Since 2017"} %>

<section class="introduction single-column">
  <div class="grid-row">
    <article>
      <%= partial "homepage/introduction" %>
    </article>
  </div>
</section>
