---
description: "Folkingebrew. Craft Bier uit Groningen sinds 2017."
sitemap_priority: 1
---

<%= partial "partials/banner", locals: { variant: "variant-big",
                                         background_image: "banner-homepage.jpg",
                                         title: "We Love Hops",
                                         sub_title: "Craft Bier uit Groningen sinds 2017"} %>

<section class="introduction single-column">
  <div class="grid-row">
    <article>
      <%= partial "homepage/introduction" %>
    </article>
  </div>
</section>

<section class="checkins">
  <div class="grid-row">
    <h2>
      Wie drinkt er?
    </h2>
    <div class="flex-wrapper">
      <%= partial "partials/checkins" %>
    </div>
    <a class="button big centered" href="https://untappd.com/Folkingebrew" target="_blank">Untappd profiel</a>
  </div>
</section>
