---
title: "Welkom bij Folkingebrew"
description: "Craft Bier uit Groningen sinds 2017."
sitemap_priority: 1
---

<%= partial "partials/banner", locals: { variant: "variant-big",
                                         background_image: "banner-homepage.jpg",
                                         title: "Craft Bier uit Groningen"} %>

<section class="newsletter single-column small">
  <div class="grid-row">
    <h2>
      Nieuwsbrief
    </h2>
    <p>
      Wil je op de hoogte worden gehouden van ons nieuws en releases? Schrijf je dan in voor onze nieuwsbrief!
    </p>
    <%= partial "partials/newsletter-signup" %>
  </div>
</section>

<section class="checkins">
  <div class="grid-row">
    <h2>
      Checkins
    </h2>
    <div class="flex-wrapper">
      <%= partial "partials/checkins" %>
    </div>
  </div>
</section>

<%= partial "partials/social-links" %>
