---
title: "Craft Beer uit Groningen"
description: "Wij brouwen bieren die wij zelf graag drinken."
sitemap_priority: 1
blog: blog
header_class: header-transparent
---

<section class="hero hero-big">
  <div class="grid-row">
    <%= image_tag "assets/images/logo-folkingebrew-white.svg", alt: "logo Folkingebrew", class: "hero-logo" %>
  </div>
</section>

<section class="introduction smallest-row">
  <div class="grid-row">
    <h2>
      Gebrouwen met een doel
    </h2>
    <p>
      Folkingebrew werd opgericht in 2017 door 5 beer geeks uit Groningen met het doel om bieren te brouwen die wij zelf graag drinken. Bij elk bier proberen we een beetje beter te worden. We blijven hierbij steeds onze grenzen verleggen.
    </p>
    <%= link_to "Ons verhaal →", "/over-ons.html", class: "read-more button green ghost" %>
  </div>
</section>
<%#= partial "partials/banner", locals: { variant: "variant-big",
                                         title: "Wij zijn Folkingebrew",
                                         sub_title: "Onze missie: bieren brouwen die wij zelf graag drinken",
                                         button_text: "Bieren →",
                                         button_link: "/bieren/",
                                         button_variant: "green big"
                                       } %>
