---
title: "Wij zijn Folkingebrew"
description: "Wij brouwen bieren die wij zelf graag drinken."
sitemap_priority: 1
blog: blog
---

  <%= partial "partials/banner", locals: { variant: "variant-big",
                                           title: "Wij zijn Folkingebrew",
                                           sub_title: "Onze missie: bieren brouwen die wij zelf graag drinken",
                                           button_text: "Bieren →",
                                           button_link: "/bieren/",
                                           button_variant: "green big"
                                         } %>
</div>

<%= partial "partials/featured-article" %>
<%= partial "partials/checkins" %>
<%= partial "partials/social-links" %>
