---
title: "Modern Craft Beer from Groningen, The Netherlands"
description: "Folkingebrew was founded to brew the beer that we like to drink."
sitemap_priority: 1
blog: blog
header_class: header-transparent
---
<section class="hero-wrap position-top">
  <div class="hero">
    <div class="hero-main">
      <div class="hero-logo-wrap">
        <%= image_tag "assets/images/logo-folkingebrew-white.svg", alt: "logo Folkingebrew", class: "hero-logo" %>
      </div>
      <div class="hero-actions">
        <%= partial "partials/button", locals: { to: "/beers/index.html",
                                         variant: "medium-size ghost white",
                                         text: t("navigation.beers"),
                                         icon_right: "icons/arrow-right.svg"} %>
      </div>
      <a class="hero-continue-icon icon-chevron-down" href="#main-content" data-scroll-to></a>
    </div>
  </div>
</section>
<section class="introduction wide-row" id="main-content">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/introduction" %>
      <div class="read-more">
        <%= partial "partials/button", locals: { to: "/about.html",
                                                 variant: "medium-size ghost green transparent-border",
                                                 text: t("buttons.read_more")} %>
      </div>
    </div>
  </div>
</section>
