---
title: "Folkingebrew | Modern Craft Beer from Groningen"
dont_append_page_title: true
description: "Modern Craft Beer from Groningen since 2017"
sitemap_priority: 1
blog: blog
header_class: header-transparent
---
<section class="hero-wrap position-top">
  <div class="hero">
    <div class="hero-main">
      <div class="hero-inner">
         <%= image_tag "assets/images/logo-folkingebrew-white.svg", alt: "logo Folkingebrew", class: "hero-logo" %>
        <h1>
          Modern Craft Beer from Groningen since 2017
        </h1>
        <%= partial "partials/button", locals: { to: "/store/index.html",
                                       variant: "medium-size ghost white",
                                       text: "Online Store",
                                       icon_right: "icons/arrow-right.svg"} %>
      </div>

      <a class="hero-continue-icon icon-chevron-down" href="#main-content" data-scroll-to></a>
    </div>
  </div>
</section>
<section class="introduction wide-row" id="main-content">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/introduction" %>
      <div class="read-more">
        <%= partial "partials/button", locals: { to: "/about.html",
                                                 variant: "medium-size ghost green",
                                                 text: t("buttons.read_more_about_us"),
                                                 icon_right: "icons/arrow-right.svg"} %>
      </div>
    </div>
  </div>
</section>
