---
title: "Craft Beer uit Groningen"
description: "Folkingebrew is opgericht met het doel om bier te brouwen dat wij zelf graag drinken."
sitemap_priority: 1
blog: blog
header_class: header-transparent
---
<section class="hero hero-big">
  <div class="grid-row">
    <%= image_tag "assets/images/logo-folkingebrew-white.svg", alt: "logo Folkingebrew", class: "hero-logo" %>
    <a class="hero-continue-icon icon-arrow-down" href="#main-content" data-scroll-to></a>
  </div>
</section>
<section class="introduction wide-row" id="main-content">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/introduction" %>
      <div class="read-more">
        <%= link_to "Onze bieren", "/bieren/index.html", class: "button green size-medium" %>
        <%= link_to "Ons verhaal", "/over-ons.html", class: "button green no-border ghost size-medium" %>
      </div>
    </div>
  </div>
</section>
