---
title: "Modern Craft Beer from Groningen, The Netherlands"
description: "Folkingebrew was founded with the aim of brewing the beer that we like to drink."
sitemap_priority: 1
blog: blog
header_class: header-transparent
---
<section class="hero hero-big">
  <div class="grid-row">
    <%= image_tag "assets/images/logo-folkingebrew-white.svg", alt: "logo Folkingebrew", class: "hero-logo" %>
    <a class="hero-continue-icon icon-arrow-down" href="#main-content" data-scroll-to></a>
  </div>
</section>
<section class="introduction wide-row" id="main-content">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/introduction" %>
      <div class="read-more">
        <%= partial "partials/button", locals: { to: "/beers/index.html",
                                                 variant: "medium-size solid green",
                                                 text: t("navigation.beers"),
                                                 icon_right: "icons/arrow-right.svg"} %>
        <%= partial "partials/button", locals: { to: "/about.html",
                                                 variant: "medium-size ghost green transparent-border",
                                                 text: t("buttons.read_more")} %>
      </div>
    </div>
  </div>
</section>
