---
title: "Craft Beer uit Groningen"
description: "Folkingebrew is opgericht met het doel om bier te brouwen dat wij zelf graag drinken."
sitemap_priority: 1
blog: blog
header_class: header-transparent
---
<section class="hero hero-big">
  <div class="grid-row">
    <%= image_tag "assets/images/logo-folkingebrew-white.svg", alt: "logo Folkingebrew", class: "hero-logo" %>
    <a class="hero-continue-icon icon-arrow-down" href="#main-content" data-scroll-to></a>
  </div>
</section>
<section class="introduction wide-row" id="main-content">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/introduction" %>
      <div class="read-more">
        <%= partial "partials/button", locals: { to: "/bieren/index.html",
                                                 variant: "size-medium style-solid green",
                                                 text: "Onze bieren",
                                                 icon_right: "icons/arrow-right.svg"} %>
        <%= partial "partials/button", locals: { to: "/over-ons.html",
                                                 variant: "size-medium style-ghost green no-border",
                                                 text: "Ons verhaal"} %>
      </div>
    </div>
  </div>
</section>
