---
title: "Join our Newsletter"
---
<%= regular_header title: t("pages.newsletter.title") %>

<section class="contact-form medium-row">
  <div class="grid-row">
    <div class="row">
    	<%= partial "content/newsletter" %>
    	<%= partial "partials/shared/newsletter-form", locals: { title_text: "Sign up"} %>
    </div>
  </div>
</section>