---
title: "Onze Bieren"
description: "Bekijk een overzicht van onze bieren."
sitemap_priority: 0.8
---
<section class="">
  <div class="grid-row">
    <%= partial "partials/beers" %>
  </div>
</section>
