---
title: "Wij zijn Folkingebrew - craft bier brouwerij uit Groningen"
description: "Folkingebrew is opgericht om de bieren te brouwen die wij zelf graag drinken."
image: "assets/images/about-us-1200x630.jpg"
sitemap_priority: 0.8
---
<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-pellets.jpg",
                                         title: "Wij zijn Folkingebrew",
                                         sub_title: "Craft bier brouwerij uit Groningen sinds 2017"} %>

<section class="single-column">
  <div class="grid-row">
    <%= partial "content/over-ons" %>
  </div>
</section>

<%= partial "partials/newsletter-signup" %>
