---
title: "Over Ons"
description: "Folkingebrew maakt ongecompliceerd craft bier zoals wij dat zelf graag drinken. Verwacht dikke smaken en complexe bieren!"
sitemap_priority: 0.8
---
<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-pellets.jpg",
                                         title: "Over Ons"} %>

<section class="single-column">
  <div class="grid-row">
    <%= partial "over-ons/content" %>
  </div>
</section>

<section class="newsletter single-column small">
  <div class="grid-row">
    <h2>
      Nieuwsbrief
    </h2>
    <p>
      Wil je op de hoogte worden gehouden van onze releases? Schrijf je in voor onze nieuwsbrief!
    </p>
    <%= partial "partials/newsletter-signup" %>
  </div>
</section>
