---
title: "Wij zijn Folkingebrew"
description: "Craft bier uit Groningen sinds 2017."
image: "about-us-1200x630.jpg"
sitemap_priority: 0.8
---
<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-pellets.jpg",
                                         title: "Wij zijn Folkingebrew",
                                         sub_title: "Craft bier uit Groningen sinds 2017"} %>

<section class="single-column">
  <div class="grid-row">
    <%= partial "over-ons/content" %>
  </div>
</section>

<section class="newsletter single-column small">
  <div class="grid-row">
    <h2>
      Nieuwsbrief
    </h2>
    <p>
      Wil je op de hoogte worden gehouden van onze releases? Schrijf je in voor onze nieuwsbrief!
    </p>
    <%= partial "partials/newsletter-signup" %>
  </div>
</section>
