---
title: "Wij zijn Folkingebrew - craft beer uit Groningen"
description: "Folkingebrew is opgericht door vijf fanatieke beer geeks om bieren te brouwen die wij zelf graag drinken."
sitemap_priority: 0.8
---
</div>
<section class="single-column">
  <div class="grid-row">
    <%= partial "content/over-ons" %>
  </div>
</section>

<%= partial "partials/newsletter-signup" %>
