---
title: "Over Ons"
description: "Folkingebrew maakt ongecompliceerd craft bierr zoals wij dat zelf graag drinken. Verwacht dikke smaken en complexe bieren!"
sitemap_priority: 0.8
---
<%= partial "partials/banner", locals: { variant: "variant-normal",
                                         background_image: "banner-homepage.jpg",
                                         title: "Over Folkingebrew"} %>

<section class="single-column">
  <div class="grid-row">
    <%= partial "over-ons/content" %>
  </div>
</section>
