---
title: Privacy Policy
description: "Privacy Policy for Folkingebrew"
---

<%= regular_header title: "Privacy Policy" %>

<% regular_content html: { class: "mb-12 sm:mb-24" } do %>
  <% markdown_content do %>
    <p><em>Date: 20 march 2021</em><br>
    <em>Version: 1</em></p>

    <p>This web page explains our approach to privacy on our website and what we do with your data as a website visitor.</p>

    <h2 id="what-we-collect-in-short">What we collect, in short</h2>

    <ul>
      <li>We collect anonymous statistics about your website visit, such as which pages you viewed. We do this with Google Analytics.</li>
      <li>We record your contact details with a contact request via a contact form. We only use this information to send your (very limited) e-mail for the proper handling of your contact request.</li>
      <li>We record your contact details for the proper handling of orders you place with us in our webshop.</li>
      <li>We do not share your data with third parties, unless they form an integral part of our own services.</li>
    </ul>

    <p>If you need more information, please read on.</p>

    <h2 id="your-rights">Your rights</h2>

    <p>You have the right to obtain from us: information about how we process your personal data and a copy of the personal data we have stored about you. You also have the right to correct, update, block or delete your personal information in our files, as well as data portability of your personal information to a third party and to report misuse of your personal information.</p>

    <p>If you have any questions or comments about how we handle your personal data or if you want to exercise the rights described above, please contact us at info@folkingebrew.nl. If you have complaints about this statement or about how we handle your personal data, you can also submit a complaint to the Dutch Data Protection Authority. See <a href="https://autoriteitpersoonsgegevens.nl/" target="_blank" rel="noopener noreferrer">this page</a> for more information.</p>

    <h2 id="measuring-website-visits-and-recording-data">Measuring website visits and recording data</h2>

    <p>We use third party services that help us better understand the visits and use of our websites. In addition, we use third parties who help us to collect data for the best possible performance of our day-to-day work. You’ll find information about those services in the next paragraphs.</p>

    <h3 id="google-analytics">Google Analytics</h3>

    <p>(a) We measure visits to our websites using Google Analytics. This records which pages you view on our website, how you got to our website and collects a limited amount of basic information about your computer and browser. All this information is anonymous. The information we collect using Google Analytics helps us understand which parts of our websites are doing well and how people end up on our websites. As with most websites, we use this information purely to improve our websites.</p>

    <p>(b) More about Google Analytics and privacy can be viewed in the <a href="https://policies.google.com/privacy">Google Analytics Privacy Policy</a>.</p>

    <div id="snipcart" class="snipcart"><!----></div>

    <p>(a) Our webshop uses Snipcart for integrating the cart and order handling. Data includes anything you provide us to be able to handle your order.</p>

    <p>(b) More on data processing by Snipcart can be found in the <a href="https://cdn.snipcart.com/legal/dpa.pdf">Snipcart Data Processing Agreement</a>.</p>

    <h3 id="mollie">Mollie</h3>

    <p>(a) Our webshop uses Mollie as Payment Gateway.</p>

    <p>(b) More about privacy and Mollie can be viewed in the <a href="https://www.mollie.com/en/privacy">Mollie Privacy Statement</a></p>

    <h3 id="netlify">Netlify</h3>

    <p>(a) Our website uses the service of Netlify Forms to collect form data. This includes anything that’s submitted in our contact form.</p>

    <p>(b) More on data processing by Netlify can be found in the <a href="https://www.netlify.com/v3/static/pdf/netlify-dpa.pdf" target="_blank" rel="noopener noreferrer" title="Netlify DPA">Netlify Data Processing Agreement</a>.</p>

    <h2 id="updates-to-this-privacy-policy">Updates to this privacy policy</h2>

    <p>We may update this privacy policy from time to time, particularly if technology or legislation changes. You can always check this page for the latest version.</p>

    <h2 id="more-information-about-cookies">More information about cookies</h2>

    <p>More information about the use of cookies on websites can be found, for example, on Cookies &amp; You or on the ConsuWijzer website.</p>

    <h2 id="questions">Questions?</h2>

    <p>If you have any questions about our privacy policy and your personal information, please send us an email at info@folkingebrew.nl or via the contact form on the contact page.</p>
  <% end %>
<% end %>
