---
title: Privacy Policy
description: Privacy Policy for using our website and purchasing items in our online store.
---
<%= regular_header title: t("pages.privacy.title") %>

<section class="privacy-policy medium-row">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/privacy-policy" %>
    </div>
  </div>
</section>
