---
title: Privacy Policy
---

<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      Privacy Policy
    </h1>
  </div>
</header>

<section class="privacy-policy medium-row">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/privacy-policy" %>
    </div>
  </div>
</section>
