---
title: Privacy Policy
description: Privacy Policy for using our website and purchasing items in our online store.
---
<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      <%= t("pages.privacy.title") %>
    </h1>
  </div>
</header>
<section class="privacy-policy medium-row">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/privacy-policy" %>
    </div>
  </div>
</section>
