---
title: Shipping & Returning Policy
description: Shipping & Returning Policy for our online store.
---
<%= regular_header title: t("pages.shipping.title") %>

<section class="shipping-policy medium-row">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/shipping-and-returning" %>
    </div>
  </div>
</section>
