---
title: Terms & Conditions
description: Terms & Conditions for purchasing items in our online store.
---
<%= regular_header title: t("pages.terms.title") %> 

<section class="terms-and-conditions medium-row">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/terms-and-conditions" %>
    </div>
  </div>
</section>
