---
title: Terms and Conditions
description: "Terms and Conditions for Folkingebrew"
--- 

<%= regular_header title: "Terms & Conditions" %>

<% regular_content html: { class: "mb-12 sm:mb-24" } do %>
  <% markdown_content do %>
    <h2 id="table-of-contents">Table of contents:</h2>

    <ul>
      <li>Article 1 – Definitions</li>
      <li>Article 2 – Identity of the entrepreneur</li>
      <li>Article 3 – Applicability</li>
      <li>Article 4 – The offer</li>
      <li>Article 5 – The contract</li>
      <li>Article 6 – Right of withdrawal</li>
      <li>Article 7 – Costs in case of withdrawal</li>
      <li>Article 8 – Exceptions to the right of withdrawal</li>
      <li>Article 9 – The price</li>
      <li>Article 10 – Compliance and warranty</li>
      <li>Article 11 – Delivery and completion</li>
      <li>Article 12 – Extended transactions: length, cancellation and extension</li>
      <li>Article 13 – Payment</li>
      <li>Article 14 – Complaints procedure</li>
      <li>Article 15 – Disputes</li>
      <li>Article 16 – Additional or different terms</li>
    </ul>

    <h2 id="article-1--definitions">Article 1 – Definitions</h2>

    <p>The following terms in these terms and conditions are defined as below:</p>

    <ul>
      <li><strong>Cooling-off period</strong>: the period of time in which the customer is able to make use of his/her right to withdrawal.</li>
      <li><strong>Customer</strong>: the natural person, not acting in a professional capacity or on behalf of a company, who enters into a contract with the entrepreneur.</li>
      <li><strong>Date</strong>: the calendar date</li>
      <li><strong>Distance Contract</strong>: A contract whereby, within the framework of a system organised by the entrepreneur, the distance selling of products and / or services, up to and including the conclusion of the contract, only one or more techniques for distance communication are used.</li>
      <li><strong>Durable Data Carrier</strong>: any device or means that enables the customer or entrepreneur to store information personally addressed to him/her in a way that allows the future viewing and unaltered reproduction of the information stored on it.</li>
      <li><strong>Entrepreneur</strong>: the natural or legal person offering products and/or services to customers via distance selling.</li>
      <li><strong>Example form</strong>: an example withdrawal form that the entrepreneur makes available to a customer who wishes to make use of the right to withdrawal.</li>
      <li><strong>Extended transactions</strong>: a distance contract with regard to a set of products and/or services of which the delivery and/or purchase obligation is spread over time.</li>
      <li><strong>Right of withdrawal</strong>: the possibility for the customer to withdraw from the contract during the cooling-off period.</li>
      <li><strong>Technology for distance communication</strong>: Technology for distance communication: a means for concluding a contract without the customer and entrepreneur being in the same room at the same time.</li>
      <li><strong>Terms and conditions</strong>: the present terms and conditions of the entrepreneur.</li>
    </ul>

    <h2 id="article-2--identity-of-the-entrepreneur">Article 2 – Identity of the Entrepreneur</h2>

    <p>Folkingebrew<br>
    Van Eyckstraat 19<br>
    9731 PA Groningen<br>
    The Netherlands</p>

    <p>Email address: info@folkingebrew.nl<br>
    Chamber of Commerce ID: 71770895<br>
    VAT: NL858842713B01</p>

    <h2 id="article-3--applicability">Article 3 – Applicability</h2>

    <p>These terms and conditions apply to every offer from the entrepreneur and to every distance contract and order between the entrepreneur and a customer.</p>

    <p>Before the distance contract is concluded, the text of these general terms and conditions will be made available to the customer. If this is not reasonably possible, it will be indicated by the entrepreneur that the general terms and conditions can be viewed before the distance contract is concluded, and that they can be sent to the customer free of charge upon request.</p>

    <p>If the distance contract is concluded electronically, contrary to the previous paragraph and before the distance contract is concluded, the text of these terms and conditions can be made available to the customer in such a way that the customer can simply save the text on a durable data carrier. If this is not reasonably possible, then before the distance contract is concluded, it will be indicated where the general terms and conditions can be consulted electronically and that they will be sent free of charge electronically or be made available by another means at the request of the customer.</p>

    <p>In the event that specific product or service conditions apply in addition to these general terms and conditions, the second and third paragraphs apply and the customer can always invoke the applicable provision that is most favourable to him/her in the event of conflicting general terms and conditions.</p>

    <p>If one or more provisions of these general terms and conditions are in whole or in part void or destroyed at any time, the contract and these terms and conditions will continue to apply and the provision in question will immediately be replaced by a provision that, after consultation, is as close to the original as possible.<br>
    Situations not covered by these terms and conditions will be assessed “in the spirit” of these terms and conditions.</p>

    <p>Uncertainties about the explanation or content of one or more provisions of our terms and conditions should be explained “in the spirit” of these terms and conditions.</p>

    <h2 id="article-4--the-offer">Article 4 – The Offer</h2>

    <p>If an offer has a limited period of validity or is made available subject to conditions, this is explicitly stated in the offer.</p>

    <p>The offer is made without obligation. The entrepreneur is free to change and adjust the offer.<br>
    The offer includes a complete and accurate description of the products and/or services offered. The description is sufficiently detailed to allow a proper assessment of the offer by the customer. The entrepreneur is not bound by any obvious mistakes or obvious errors in the offer.<br>
    All images, specifications and details in the offer are indicative and cannot lead to compensation or dissolution of the contract.</p>

    <p>Pictures of products are a true representation of the products offered. The entrepreneur cannot guarantee that the colours displayed are an exact match for the product’s real colours.<br>
    Every offer contains sufficient information for the customer to understand the rights and obligations attached to the acceptance of the offer. In particular this concerns:</p>

    <ul>
      <li>the price including taxes;</li>
      <li>shipping costs;</li>
      <li>the way in which the contract will be concluded and the actions required to do this;</li>
      <li>whether or not the right of withdrawal applies;</li>
      <li>the method of payment, delivery and implementation of the contract;</li>
      <li>the period for accepting the offer, or the period within which the entrepreneur guarantees the price;</li>
      <li>the price for distance communication if the costs of using the technology for distance communication are</li>
      <li>calculated on a different rate than the regular basic rate for the means of communication;</li>
      <li>whether the contract is stored after its conclusion, and if so, how it can be consulted by the customer;</li>
      <li>the way in which the customer, before concluding the contract, can check the data provided by him/her under the contract and change it if desired;</li>
      <li>the codes of conduct to which the entrepreneur is subject and the way in which the customer can consult these codes of conduct electronically; and the minimum duration of the distance contract in the event of an extended transaction.</li>
    </ul>

    <h2 id="article-5--the-contract">Article 5 – The Contract</h2>

    <p>The contract is concluded, subject to the provisions of paragraph 4, when the customer accepts the offer and meets the corresponding conditions.<br>
    If the customer has accepted the offer electronically, the entrepreneur will immediately confirm receipt of the acceptance of the offer electronically. As long as the receipt of this acceptance has not been confirmed by the entrepreneur, the customer is free to dissolve the contract.<br>
    If the contract is concluded electronically, the entrepreneur will take appropriate technical and organizational measures to protect the electronic transfer of data and ensure a secure online environment. If the customer pays electronically, the entrepreneur will do everything possible to observe the appropriate security measures.<br>
    The entrepreneur can – within legal limits – determine whether the customer can meet his/her payment obligations, as well as all the facts and factors relevant to a responsible conclusion of a distance contract.<br>
    If, on the basis of this investigation, the entrepreneur has good reason not to enter into the contract, the entrepreneur is entitled to refuse an order or request or to execute the implementation of special conditions.<br>
    The entrepreneur will send the following information with the product or service to the customer, in writing or in such a way that it can be stored by the customer in an accessible manner on a durable data carrier:</p>

    <p>a. a visiting address for the entrepreneur where the customer can deliver complaints;<br>
    b. the conditions under which, and the manner in which, the customer can exercise the right of withdrawal, or a clear statement regarding the exclusion of the right of withdrawal;<br>
    c. the information about guarantees and the existing after-sales service;<br>
    d. the information included in article 4 paragraph 3 of these conditions, unless the entrepreneur has already provided this information to the customer before the execution of the contract;<br>
    e. the requirements for terminating the contract if the contract has a duration of more than one year or is of indefinite length.</p>

    <p>In the event of an extended transaction, the provision in the previous paragraph only applies to the first delivery.</p>

    <p>Every contract is entered into under the suspensive conditions of sufficient availability of the product in question.</p>

    <h2 id="article-6--right-of-withdrawal">Article 6 – Right of Withdrawal</h2>

    <p>Regarding the delivery of products:</p>

    <p>When purchasing products the customer is entitled to a cooling-off period of 14 days in which he/she can dissolve the contract without giving any reason. This cooling-off period begins the day after the customer, or a representative designated in advance by the customer and made known to the entrepreneur, receives the products. During the cooling-off period the customer must handle the product and packaging with due care and attention. The customer will only unpack or use the product to the necessary extent to ensure that he/she wishes to keep the product. If the customer wishes to use the right to withdrawal, then he/she must return the product to the entrepreneur with all the accompanying accessories and – if reasonably possible – in the original condition and packaging, as conforming to the clear and reasonable instructions provided by the entrepreneur.</p>

    <p>When the customer wishes to make use of the right to withdrawal, he/she is obliged to inform the entrepreneur within 14 days of receiving the product. The customer must do this by using the contact form, email address or reply to the order email. After the customer has informed the entrepreneur of his/her intention to exercise the right to withdrawal, the customer must return the product within 14 days. The customers must be able to prove that the product has been returned within this period time, for example by sharing a proof of postage.</p>

    <p>If the customer has not made known that he/she wishes to make use of the right of withdrawal after the periods referred to in paragraphs 2 and 3 have expired and the product has not been returned to the entrepreneur, then the purchase is a fact.</p>

    <h3 id="regarding-the-provision-of-services">Regarding the provision of services:</h3>

    <p>Regarding services, the customer has the option to dissolve the contract without giving any reason for at least 14 days, starting on the day that the contract begins.<br>
    To make use of the right of withdrawal, the customer must focus on the reasonable and clear instructions provided by the entrepreneur with the offer and/or at the latest upon delivery of the services.</p>

    <h2 id="article-7--costs-in-case-of-withdrawal">Article 7 – Costs in Case of Withdrawal</h2>

    <p>If the customer decides to make use of the right of withdrawal, then the customer is responsible for any costs regarding the return of the product.</p>

    <p>If the customer has paid an amount, the entrepreneur will refund the costs as soon as possible, but no later than 14 days after cancellation. This is subject to the condition that the product has already been received by the web retailer or conclusive proof that the return is complete has been provided. Refunds will be made via the same payment method used by the customer unless the customer explicitly gives permission for another payment method.<br>
    If the product is damaged due to careless handling by the customer, then the customer is liable for any diminished value of the product.</p>

    <p>The customer cannot be held liable for a decrease in product value if the entrepreneur has not provided all legally required information about the right of withdrawal – this must be done before the conclusion of the purchase contract.</p>

    <h2 id="article-8--exceptions-to-the-right-of-withdrawal">Article 8 – Exceptions to the Right of Withdrawal</h2>

    <p>The entrepreneur can exclude the customer’s right of withdrawal for products as described in paragraphs 2 and 3. The exclusion of the right of withdrawal only applies if the entrepreneur has clearly stated this in the offer, at least before the conclusion of the contract.</p>

    <p>Exclusion of the right of withdrawal is only possible for products:</p>

    <p>a. that have been created by the entrepreneur in accordance with the customer’s specifications;<br>
    b. that are clearly of a personal nature;<br>
    c. that cannot be returned due to their nature;<br>
    d. that can spoil or age quickly;<br>
    e. the price of which is subject to fluctuations in the financial market over which the entrepreneur has no influence;<br>
    f. for individual newspapers and magazines;<br>
    g. for audio and video recordings and computer software of which the customer has broken the seal.<br>
    h. for hygienic products of which the customer has broken the seal.</p>

    <p>Exclusion of the right of withdrawal is only possible for services:</p>

    <p>a. concerning accommodation, transport, restaurant or leisure activities to be performed on a specific date or during a specific period;<br>
    b. whose delivery has begun with the express consent of the customer before the cooling-off period has expired;<br>
    c. concerning bets and lotteries.</p>

    <h2 id="article-9--price">Article 9 – Price</h2>

    <p>The prices of products will not be increased during a period of validity, except for price changes as a result of changes in BTW rates.</p>

    <p>Contrary to the previous paragraph, the entrepreneur can offer products or services with variable prices if the prices are subject to fluctuations in the financial market and over which the entrepreneur has no influence.<br>
    These links to fluctuations and the fact that any stated prices are guideline prices will be stated in the offer.</p>

    <p>Price increases within 3 months after the conclusion of the contract are only permitted if they are the result of statutory regulations or provisions.</p>

    <p>Price increases after 3 months from the conclusion of the contract are only permitted if the entrepreneur has stipulated this and if:</p>

    <p>a. they are the result of statutory regulations or provisions; or<br>
    b. the customer is authorized to terminate the contract with effect from the day on which the price increase takes effect.</p>

    <p>The prices stated in the offer of products or services include BTW.</p>

    <p>All prices are subject to printing and typographical errors. No liability is accepted for the consequences of printing and typesetting errors. In the event of printing and typesetting errors, the entrepreneur is not obliged to deliver the product at the incorrect price.</p>

    <h2 id="article-10--compliance-and-warranty">Article 10 – Compliance and Warranty</h2>

    <p>The entrepreneur guarantees that the products and/or services comply with the contract, the specifications stated in the offer, reasonable requirements of reliability and/or usability and the legal provisions in place on the date of the conclusion of the contract and/or government regulations. If agreed, the entrepreneur also guarantees that the product is suitable for other uses than normal.</p>

    <p>A warranty provided by the entrepreneur, manufacturer or importer does not affect the legal rights and claims that the customer can assert against the entrepreneur under the contract.</p>

    <p>Any defects or incorrectly delivered products must be reported to the entrepreneur in writing within 4 weeks of delivery. Products must be returned in the original packaging and in original condition.</p>

    <p>The entrepreneur’s warranty period corresponds to the factory warranty period. However, the entrepreneur is never responsible for the ultimate suitability of the products for each individual application by the customer, nor for any advice regarding the use or application of the products.</p>

    <p>The warranty does not apply if:</p>

    <ul>
      <li>The customer has repaired and/or tampered with the delivered products or has had them repaired and/or tampered with by third parties;</li>
      <li>The delivered products have been exposed to out of the ordinary circumstances or are otherwise carelessly handled or are handled contrary to the instructions of the entrepreneur and/or the instructions on the packaging;</li>
      <li>The defect is wholly or partly the result of regulations that the government has made or will make regarding the nature or quality of the materials used.</li>
    </ul>

    <h2 id="article-11--delivery-and-completion">Article 11 – Delivery and Completion</h2>

    <p>The entrepreneur will take the greatest possible care when receiving and implementing product orders and when assessing applications for the provision of services.</p>

    <p>The place of delivery is the address that the consumer has made known to the entrepreneur.</p>

    <p>As set out in paragraph 4 of this Article, the entrepreneur will complete deliveries as fast as possible, within 30 days at the latest, unless the consumer has agreed to a longer delivery period. If delivery is delayed, or if an order can only be partially executed, the consumer will be notified of this no later than 30 days after placing the order. In this case, the consumer is entitled to terminate the contract free of charge. The consumer is not entitled to compensation.</p>

    <p>All delivery times are indicative. The consumer cannot derive any rights from any stated delivery periods. Exceeding a period does not entitle the consumer to compensation.</p>

    <p>In case of dissolution, in accordance with paragraph 3 of this Article, the entrepreneur will refund the amount that the consumer has paid as soon as possible, but no later than 14 days after dissolution.</p>

    <p>If delivery of a product turns out to be impossible, the entrepreneur will endeavour to make a replacement product available. At the latest, upon delivery, it will be stated in a clear and comprehensive manner that a replacement item is being delivered. The right of withdrawal cannot be excluded for replacement items The costs of a potential return shipment will be paid by the entrepreneur.</p>

    <p>Unless otherwise specified, the responsibility for the risk of damage and/or loss of products lies with the entrepreneur until the moment of delivery to the consumer of a representative designated in advance by the customer and made known to the entrepreneur.</p>

    <p>Folkingebrew will not and cannot sell alcohol to people under the age of 18. Therefor we implemented an age check in the process on the webshop. To ensure that our products are handed over to adults only and meeting the requirements of the laws and regulations, the delivery company can enquire about the recipient’s age and request identification.</p>

    <h2 id="article-12--extended-transactions-length-cancellation-and-extension">Article 12 – Extended Transactions: Length, Cancellation and Extension</h2>

    <h3 id="cancellation">Cancellation</h3>

    <p>The customer can terminate a contract that has been concluded for an indefinite period and that extends to the regular delivery of products (including electricity) or services, at any time, with due observance of the concluded cancellation rules and a notice period of one month maximum.</p>

    <p>The customer can terminate a contract that has been concluded for a fixed period and that extends to the regular delivery of products (including electricity) or services, at any time towards the end of the fixed period, subject to the concluded cancellation rules and a notice period of no more than one month.</p>

    <p>In regards to the contracts mentioned above, the customer can:</p>

    <ul>
      <li>cancel a contract at any time and not be limited to cancellation at a specific time or in a specific period;<br>
    at least cancel a contract in the same way as it was entered into;</li>
      <li>always cancel a contract with the same notice period as the entrepreneur has stipulated for him/herself.</li>
    </ul>

    <h3 id="extension">Extension</h3>

    <p>A contract that has been concluded for a fixed period and that extends to the regular delivery of products (including electricity) or services may not be automatically extended or renewed for a fixed period.<br>
    Contrary to the previous paragraph, a contract that has been concluded for a fixed period and that extends to the regular delivery of daily news and weekly newspapers and magazines may be automatically extended for a period of three months maximum if the customer can terminate the extended contract with a notice period of one month maximum.</p>

    <p>A contract that has been concluded for a fixed period and that extends to the regular delivery of products or services may only be automatically extended for an indefinite period if the customer can cancel the contract at any time with a notice period of one month maximum and three months maximum if the contract extends to the regular, but less than once a month, delivery of daily, news and weekly newspapers and magazines.<br>
    A contract with a fixed duration concerning the regular delivery of daily, news and weekly newspapers and magazines (trial or introductory subscriptions) will not be automatically extended and ends automatically after the trial or introductory period.</p>

    <h3 id="duration">Duration</h3>

    <p>If a contract has a duration of more than one year, the customer may cancel the contract at any time with a notice period of one month maximum, unless it is unreasonable or unfair to cancel before the end of the concluded duration.</p>

    <h2 id="article-13--payment">Article 13 – Payment</h2>

    <p>Unless otherwise agreed, any amount owed by the customer must be paid within 7 working days from the start of the cooling-off period as referred to in Article 6, Paragraph 1. In the event of a contract to provide a service, this period begins after the customer has received the confirmation of the contract.</p>

    <p>The customer is responsible for immediately reporting any inaccuracies in payment details provided or related to the entrepreneur.</p>

    <p>In case of default by the customer the entrepreneur has the right to charge the customer any reasonable costs, subject to legal restrictions.</p>

    <h2 id="article-14--complaints-procedure">Article 14 – Complaints Procedure</h2>

    <p>The entrepreneur has a clearly established complaints procedure and will handle any complaint in line with this complaints procedure.<br>
    Complaints about the performance of the contract must be submitted by the customer to the entrepreneur within seven days after any faults are found, and described in a full and complete manner.<br>
    Complaints submitted to the entrepreneur will be replied to within 14 days from the date of receipt. If a complaint requires a longer processing time, the entrepreneur will reply within 14 days with a notice of receipt and an indication of when the customer can expect a more detailed answer.<br>
    If the complaint cannot be resolved by mutual agreement, then the dispute will be subject to the dispute settlement procedure.<br>
    In case of complaints, a customer must first contact the entrepreneur. It is also possible to report complaints via the European ODR platform (http://ec.europa.eu/odr).<br>
    A complaint does not suspend the entrepreneur’s obligations, unless the entrepreneur indicates otherwise in writing.<br>
    If the entrepreneur concludes that a complaint is well-founded, the entrepreneur will replace or repair the delivered products, at its choice, free of charge.</p>

    <h2 id="article-15--disputes">Article 15 – Disputes</h2>

    <p>All contracts between the entrepreneur and the customer as laid out in the terms and conditions are subject to Dutch law, even if the customer lives abroad. The Vienna Sales Convention is not applicable.</p>

    <h2 id="article-16--additional-or-different-terms">Article 16 – Additional or Different Terms</h2>

    <p>Additional or different terms from these general terms and conditions must not be to the detriment of the customer and must be recorded in writing or in such a way that they can be saved or stored by the customer in an accessible manner on a durable data carrier.</p>
  <% end %>
<% end %>
