---
title: Terms & Conditions
---

<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      Terms & Conditions
    </h1>
  </div>
</header>

<section class="terms-and-conditions medium-row">
  <div class="grid-row">
    <div class="row">
      <%= partial "content/terms-and-conditions" %>
    </div>
  </div>
</section>
