---
title: "Thank you"
robots: noindex,nofollow
noindex: true
---

<%= regular_header title:  "Thanks!" %>

<section id="thanks-message" class="mb-12 text-center text-white px-6">
  Thank you for subscribing to our Crowdfunding updates.
</section>