---
title: "Thank you"
robots: noindex,nofollow
noindex: true
---

<%= regular_header title:  t("pages.thanks.title") %>

<section class="thanks-message mb-12 text-center text-white px-6">
  <%= t("pages.thanks.text") %>
</section>

<% sitemap.resources.select {|resource| resource.path =~ /^(thanks).*$/}.each do |resource| %>
  <% if resource.path =~ /\.(js)/ %>
    <%= javascript_include_tag resource.path %>
  <% end %>
<% end %>
