---
title: "Thank you"
robots: noindex,nofollow
---
<section class="hero hero-big">
  <div class="grid-row">
    <div>
      <h1>
        <%= t("pages.thanks.title") %>
      </h1>
    </div>
    <div>
      <p>
        <%= t("pages.thanks.text") %>
      </p>
    </div>
  </div>
</section>
