---
title: Vacature Kok
---

<%= regular_header title: "Vacature: Kok" %>

<% regular_content html: { class: "mb-12 sm:mb-24" } do %>
  <article class="prose max-w-none">

    <p>Plaatsingsdatum: 9 februari 2025</p>
    <p>
      Ben jij een creatieve kok met minimaal 2 jaar werkervaring en wil je jouw culinaire expertise inzetten in onze brewpub? Dan zijn wij op zoek naar jou! Bij Folkingebrew krijg je de kans om niet alleen te koken, maar ook de leiding te nemen over onze keuken en actief mee te denken over onze menukaart en bierbeleving. Spreekt dit je aan? Lees dan snel verder!
    </p>
    
    <h2 class="mb-0">Jouw taken</h2>
    <ul>
      <li><strong>Koken:</strong> Bereid dagelijks gerechten volgens onze hoge kwaliteitsnormen</li>
      <li><strong>Keuken runnen:</strong> Zorg voor een goedlopende inkoop en voorraadbeheer</li>
      <li><strong>Menu bepalen:</strong> Ontwikkel samen met het team de menukaart</li>
      <li><strong>Overige werkzaamheden:</strong> Diverse taken binnen de brewpub, waar nodig</li>
    </ul>
    <h2 class="mb-0">Profiel</h2>
    <ul>
      <li>Minimaal 2 jaar ervaring in een professionele keuken</li>
      <li>Zelfstandig, communicatief en een doorzetter</li>
      <li>Gepassioneerd over koken en eventueel craft bier</li>
    </ul>
    
    <h2 class="mb-0">Wij bieden</h2>
    <ul>
      <li>Salaris in overleg, op basis van ervaring en expertise</li>
      <li>Een fulltime baan in een dynamische startupomgeving met volop ruimte voor eigen inbreng en ontwikkeling</li>
    </ul>

    <h2 class="mb-0">Over Folkingebrew</h2>
    <p>
      Folkingebrew begon in 2017 met één doel: moderne bieren brouwen die we zelf graag drinken. Inmiddels zijn we uitgegroeid tot een vaste naam in de internationale bierwereld. Nu zetten we de volgende stap met een eigen brewpub, waar goed bier en bijpassend eten samenkomen.
    </p>

    <h2 class="mb-0">Interesse?</h2>
    <p class="mb-12">Top, we kijken er naar uit met je kennis te maken! Solliciteer direct (maar in elk geval voor 16 februari) via onderstaand formulier!</p>

    <%= partial "partials/form", locals: { name: "vacature",
                                         fields: ["name", "email", "motivation", "cv"] } %>

    <p><em>Acquisitie naar aanleiding van deze vacature wordt niet op prijs gesteld</em></p>

  </article>
<% end %>