---
title: "Veelgestelde vragen"
description: "Heb je vragen over Folkingebrew of onze bieren? Hier vindt je een selectie van de meest gestelde vragen!"
sitemap_priority: 0.8
---

<%
questions = data["faq"]
%>

<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      Veelgestelde vragen
    </h1>
  </div>
</header>

<section class="faq medium-row">
  <div class="grid-row">
    <div class="row">

      <ul class="accordion">

         <% questions.each do |question| %>
          <li>
            <a class="toggle" href="javascript:void(0);">
              <h2>
                <%= question.q %>
              </h2>
            </a>
            <div class="inner">
              <p>
                <%= question.a.to_s %>
              </p>
            </div>
          </li>
        <% end %>

    </div>
  </div>
</section>
