---
title: "Shop"
description: "Buy our beers and merchandise in our shop."
blog: shop
pageable: true
sitemap_priority: 0.8
---
<header class="normal-page-header">
  <div class="grid-row">
    <h1>
      <%= t("pages.shop.title") %>
    </h1>
  </div>
</header>
<section class="products wide-row">
  <div class="grid-row">
    <div class="products-grid-wrap">
      <div class="products-grid feed">
        <div class="row">
          <% page_articles.each do |product| %>
            <%= partial "partials/shop/product_preview", locals: { product: product } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
